<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/signUp/snsSignUp.css" />
    <title>회원가입</title>
  </head>

  <th:block layout:fragment="main">
    <body>
      <div class="body-div2">
        <h1>회원가입 추가 정보 입력</h1>
        <form
          action="/member/googleSignUp"
          method="post"
          id="signUpForm"
          class="googleForm"
        >
          <input
            type="hidden"
            th:value="${userInfo.checkId}"
            name="memberId"
            id="memberId"
          />

          <input
            type="hidden"
            th:value="${userInfo.email}"
            name="memberEmail"
            id="memberEmail"
          />

          <input type="hidden" th:value="${userInfo.name}" name="memberName" />

          <input
            type="hidden"
            th:value="${userInfo.profile_image}"
            name="profileImg"
          />

          <div class="form-div form-span-div form-first-div">
            <span class="form-address-span td">주소</span
            ><input
              type="text"
              name="memberAddress"
              id="memberAddress"
              class="form-input"
            />
          </div>

          <div class="form-div">
            <span class="form-nickname-span td">닉네임</span
            ><input
              type="text"
              name="memberNickName"
              id="memberNickName"
              class="form-input"
            />
          </div>

          <!-- 생년월일 유효성 메세지 -->
          <span id="memberNickNameMessage" class="message"></span>

          <div class="form-div">
            <span class="form-phoneNo-span td">전화번호</span
            ><input
              type="text"
              name="memberPhoneNo"
              id="memberPhoneNo"
              placeholder="'-' 제외"
              class="form-input"
            />
          </div>
          <!-- 전화번호 유효성 메세지 -->
          <span id="memberPhoneNoMessage" class="message"></span>

          <div class="form-div">
            <span class="form-birth-span td">생년월일</span
            ><input
              type="text"
              name="memberBirth"
              id="memberBirth"
              placeholder="8글자 (yyyymmdd)"
              class="form-input"
            />
          </div>

          <!-- 생년월일 유효성 메세지 -->
          <span id="memberBirthMessage" class="message"></span>

          <div class="button-div">
            <button type="submit" class="button">가입하기</button>
          </div>
        </form>
      </div>

      <script src="/js/member/googleSignUp.js"></script>
      <script src="/js/member/findMember.js"></script>
      <script src="/js/lib/jquery-ui.js"></script>
    </body>
  </th:block>
</html>
