<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
  </head>
  <body>
    <form action="/member/kakaoSignUp" method="post" id="signUpForm">
      <input
        type="hidden"
        th:value="${userInfo.checkId}"
        name="memberId"
        id="memberId"
      />
      <br />

      이메일<input type="email" name="memberEmail" id="memberEmail" /> <br />
      이메일 유효성 메시지:<span id="memberEmailMessage"></span><br />

      <input
        type="hidden"
        th:value="${userInfo.nickname}"
        name="memberNickName"
      />

      <input
        type="hidden"
        th:value="${userInfo.profile_image}"
        name="profileImg"
      />

      주소<input type="text" name="memberAddress" id="memberAddress" /> <br />

      실명<input type="text" name="memberName" id="memberName" /> <br />
      실명 유효성 메시지:<span id="memberNameMessage"></span><br />

      전화번호<input type="text" name="memberPhoneNo" id="memberPhoneNo" />
      <br />
      전화번호 유효성 메시지:<span id="memberPhoneNoMessage"></span><br />

      생년월일<input type="text" name="memberBirth" id="memberBirth" /> <br />
      생년월일 유효성 메시지:<span id="memberBirthMessage"></span><br />

      <button type="submit">회원가입</button>
    </form>
  </body>

  <script src="/js/member/kakaoSignUp.js"></script>
</html>
