<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
  </head>
  <body>
    <form action="/member/login" method="post">
      아이디 <input type="text" name="memberId" /> 비밀번호
      <input type="password" name="memberPw" />

      <button type="submit">로그인</button>
    </form>

    <h1 th:if="${session.loginMember!=null}">로그인 됨</h1>

    <a href="/member/loginNaver">네이버로그인</a>
    <a href="/member/loginKakao">카카오 로그인</a>
    <a href="/member/loginGoogle">구글 로그인</a> <br />

    <button type="button">아이디</button><span>/</span
    ><button type="button">비밀번호찾기</button>

    <br><br><br><br><br><br><br>

    <!-- 아이디찾기 버튼 눌렀을때 나오는 아이디찾기 모달창 -->
    아이디찾기 버튼 눌렀을때 나오는 아이디찾기 모달창

    <form action="/member/findId">
      <input type="text" placeholder="이름을 입력해주세요" name="memberName"/>
      <br />

      <input type="radio" name="idRadio" id="tel" checked/> 휴대폰 인증하기

      <br />
      <input type="tel" maxlength="11" placeholder="'-'제외" id="idMemberPhoneNo"/>
      <button type="button" id="idTelRequestAuth" >인증번호 요청</button>
      <br />
      <input type="radio" name="idRadio" id="email" /> 이메일 인증하기

      <br />
      <input type="email" id="idMemberEmail" disabled/>
      <button type="button" id="idEmailRequestAuth" >인증번호 요청</button>

      <br>
      <span>인증번호 입력</span> <input type="text" id="idAuthNum"/> <button type="button" id="idAuthBtn">인증</button>

      <br />
      <a href="/member/signUp">회원가입</a>
      <a href="#">비밀번호 찾기</a>

      <br><br>
      <button id="findIdButton" type="button">아이디 찾기</button>
    </form>



    <!-- 아이디찾기 버튼 눌렀을때 나오는 아이디찾기 모달창 -->

    <br><br><br><br><br><br><br>

    <!-- 비밀번호 찾기 버튼 눌렀을 때 나오는 비밀번호 찾기 모달창 -->
    비밀번호 찾기 버튼 눌렀을때 나오는 비밀번호찾기 모달창
    <form action="/member/findPw">
      <input type="text" placeholder="아이디를 입력해주세요" name="memberId"/>
      <br />

      <input type="radio" name="pwRadio" checked/> 휴대폰 인증하기

      <br />
      <input type="tel" maxlength="11" placeholder="'-'제외" id="pwMemberPhoneNo"/>
      <button type="button" id="pwTelRequestAuth">인증번호 요청</button>
      <br />
      <input type="radio" name="pwRadio" /> 이메일 인증하기

      <br />
      <input type="email" id="pwMemberEmail" disabled/>
      <button type="button" id="pwEmailRequestAuth">인증번호 요청</button>

      <br>
      <span>인증번호 입력</span> <input type="text" id="pwAuthNum"/> <button type="button" id="pwAuthBtn">인증</button>

      <br />
      <a href="/member/signUp">회원가입</a>
      <a href="#">아이디 찾기</a>


      <br><br>
      <button id="findPwButton"  type="button">비밀번호 찾기</button>
    </form>

   
    </form>
    <!-- 비밀번호 찾기 버튼 눌렀을 때 나오는 비밀번호 찾기 모달창 -->




    <script src="/js/member/findMember.js"></script>
  </body>
</html>
