<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial, sans-serif;
            background-color: #f5f5f5;
            margin: 0;
            padding: 0;">
    <div class="container" style="max-width: 600px;
                            margin: 50px auto;
                            background-color: #fff;
                            border-radius: 10px;
                            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                            padding: 30px;">
        <h1 style="color: #333; text-align: center;">Email Verification</h1>
        <p style="color: #666; font-size: 16px; line-height: 1.6; text-align: center">
            인증번호를 입력하여 계정을 확인하세요.</p>
        <p class="verification-code" 
                    style="font-size: 24px;
                    color: #007bff;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    text-align: center;"
        >인증번호: <strong th:text="${authKey}">123456</strong></p>
        <p style="color: #666; font-size: 14px; line-height: 1.6; text-align: center">
            이 이메일을 보낸 이메일 주소가 실제로 존재하는지 확인하기 위한 인증번호입니다.</p>
    </div>
</body>
</html>