<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <th:block layout:fragment="main">
    <link href="/css/util/aiRecomm.css" rel="stylesheet" />

    <div class="aiRecommContainer" style="height: 100vh">
      <!-- information -->
      <div class="infoContainer">
        <!-- NUMBER 1 -->
        <div class="originInput">출발지: <span class="origin"></span></div>
        <div class="destinationInput mb-2">
          목적지: <span class="destination"></span>
        </div>

        <div class="collapse show" id="colAddress">
          <form onsubmit="searchPlaces(); return false;">
            <input
              type="text"
              value="KH 종로지원"
              id="keyword"
              size="15"
              class="form-control"
              placeholder="주소를 입력해주세요"
            />

            <input type="hidden" id="origin" />
            <input type="hidden" id="destination" />

            <button
              type="submit"
              class="aiBtn searchBtn mt-2"
              id="addressSearch"
            >
              주소 검색
            </button>
          </form>
          <!-- placeList-->
          <div class="places mt-2">
            <div id="placesList"></div>
            <div id="pagination" class="pagination"></div>
          </div>
        </div>

        <div class="collapse" id="colType">
          <h5>내가 즐기고 싶은 여행은...</h5>
          <p>최대 3개 (없으면 체크 X)</p>
          <input type="checkbox" class="typeStar btn-check" id="starBtn" />
          <label class="btn btn-outline-primary" for="starBtn"
            >별이 잘 보이는 곳</label
          >
          <input type="checkbox" class="typeStar btn-check" id="nightBtn" />
          <label class="btn btn-outline-primary" for="nightBtn"
            >야경이 예쁜 곳</label
          >
          <input type="checkbox" class="typeStar btn-check" id="natureBtn" />
          <label class="btn btn-outline-primary" for="natureBtn"
            >자연 풍경이 좋아</label
          >
          <input type="checkbox" class="typeStar btn-check" id="foodBtn" />
          <label class="btn btn-outline-primary" for="foodBtn"
            >식도락 여행</label
          >
        </div>

        <div class="collapse" id="colResult">
          <div id="recommInfoList" class="recommInfoList"></div>
        </div>

        <!-- next button-->
        <button class="aiBtn nextBtn letsChabakBtn" id="letsChabak">
          차박!
        </button>
        <button class="aiBtn nextBtn" id="nextBtn">다음</button>
      </div>

      <!-- map -->
      <div class="mapContainer">
        <div id="map" class="map"></div>
      </div>
    </div>
    <div class="loading">
      <div class="loader"></div>
    </div>

    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=505ac5632e649605a932e66a71794740&libraries=services,clusterer,drawing"
    ></script>
    <script type="text/javascript" src="/js/util/aiRecomm.js"></script>
    <script type="text/javascript" src="/js/util/aiRecommFront.js"></script>
  </th:block>
</html>
