<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>채팅방</title>
    <link rel="stylesheet" href="/css/chatting.css" />
  </head>
  <body>
    <div>
      <div class="container" th:if="${session.loginMember.memberNo} != 1">
        <div class="col-6">
          <label><b>관리자와의 채팅</b></label>
        </div>
        <div class="chattingRoomWrapper">
          <div class="chattingRoom" id="chattingRoom">
            <th:block th:each="message : ${messageList}" th:object="${message}">
              <div
                class="chatDiv"
                th:classappend="*{senderNo} != ${session.loginMember.memberNo} ? 'yourChatDiv' : 'myChatDiv'"
              >
                <span class="nameSpan" th:text="*{senderName}"></span>
                <div
                  class="answerDiv"
                  th:classappend="*{senderNo} != ${session.loginMember.memberNo} ? 'yourChat' : 'myChat'"
                  th:text="*{messageContent}"
                ></div>
              </div>
            </th:block>
          </div>
        </div>
        <div>
          <div id="msgArea" class="col"></div>
          <div class="col-6">
            <div class="input-group mb-3">
              <input
                type="text"
                id="usermsg"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-send"
                  th:value="${chatRoom.chattingNo}"
                >
                  전송
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:unless="${session.loginMember.memberNo} != 1">
        <div th:unless="${#lists.isEmpty(roomList)}" class="mainDiv">
          <!-- 회원 목록 -->
          <div id="userMain" class="main1">
            <th:block th:each="room : ${roomList}" th:object="${room}">
              <div class="messageChat">
                <button
                  th:value="*{targetNo}"
                  th:onclick="|chatRoom(*{chattingNo}, *{targetNo})|"
                >
                  입장
                </button>
                <!-- 안 읽은 카톡 개수 -->
                <div
                  th:class="*{notReadCount > 0} ? 'notReadCount' : 'readCount'"
                >
                  <span
                    th:text="*{notReadCount}"
                    th:class="*{notReadCount > 0} ? 'notRead' : 'read'"
                  ></span>
                </div>
                <div>
                  <!-- 이름 -->
                  <div th:text="*{targetNickName}" class="targetName"></div>
                  <!-- 마지막 메세지 -->
                  <div class="chatInfo">
                    <!-- 마지막 메세지 -->
                    <div class="message">
                      <span th:text="*{lastMessage}" class="lastMessage"></span>
                      <span th:text="*{sendTime}" class="sendTime"></span>
                    </div>
                  </div>
                </div>
              </div>
            </th:block>
          </div>
          <!-- 채팅방 보일 곳 -->
          <div class="main2" id="viewChat">
            <div class="chattingRoomWrapper">
              <div class="chattingRoom" id="chattingRoom">
                채팅방을 입장해주세요
              </div>
            </div>
            <div>
              <!-- 채팅 -->
              <div id="chatIn" class="chatIn"></div>
              <div class="col-6">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    id="msg"
                    class="form-control"
                    aria-label="Recipient's username"
                    aria-describedby="button-addon2"
                    disabled
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-outline-secondary"
                      type="button"
                      id="sendBtn"
                      onclick="send(0)"
                    >
                      전송
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div th:if="${#lists.isEmpty(roomList)}">
          <div>비어있음</div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      const memberName =
        /*[[${session.loginMember.memberNickName}]]*/ "현재 로그인한 회원 닉네임";

      const memberNo =
        /*[[${session.loginMember.memberNo}]]*/ "현재 로그인한 회원 번호";
    </script>

    <script src="/js/liveChat.js"></script>
  </body>
</html>
