<div class="chatTool">
  <div class="container" th:if="${session.loginMember.memberNo} != 1">
    <div class="col-6">
      <label><b>관리자와의 채팅</b></label>
      <button onclick="hideElement()" id="xButton" type="button">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <div class="chattingRoomWrapper">
      <div class="chattingRoom" id="chattingRoom">
        <th:block
          th:each="message : ${session.messageList}"
          th:object="${message}"
        >
          <div
            class="chatDiv"
            th:classappend="*{senderNo} != ${session.loginMember.memberNo} ? 'yourChatDiv' : 'myChatDiv'"
          >
            <span class="nameSpan" th:text="*{senderName}"></span>
            <div
              class="answerDiv"
              th:classappend="*{senderNo} != ${session.loginMember.memberNo} ? 'yourChat' : 'myChat'"
              th:text="*{messageContent}"
            ></div>
            <span class="sendTimeChar" th:text="*{sendTimeChar}"></span>
          </div>
        </th:block>
      </div>
    </div>
    <div>
      <div id="msgArea" class="col"></div>
      <div class="col-7">
        <div class="input-group mb-3">
          <input
            type="text"
            id="usermsg"
            class="form-control"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              type="button"
              id="button-send"
              th:value="${session.chatRoom.chattingNo}"
              th:onclick="|send(${session.chatRoom.chattingNo})|"
            >
              전송
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div th:unless="${session.loginMember.memberNo} != 1">
    <div th:unless="${#lists.isEmpty(session.roomList)}" class="mainDiv">
      <!-- 채팅방 보일 곳 -->
      <div class="main2" id="viewChat">
        <div class="col-6">
          <button onclick="hideChatRoom()" id="xButton" type="button">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <div class="chattingRoom" id="chattingRoom"></div>

        <div>
          <!-- 채팅 -->

          <div class="col-5">
            <div class="input-group mb-3">
              <input
                type="text"
                id="msg"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
                disabled
                autocomplete="off"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="sendBtn"
                  onclick="send(0)"
                >
                  전송
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 회원 목록 -->
      <div id="userMain" class="main1">
        <div class="col-8">
          <button onclick="hideElement()" id="xButton" type="button">
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>
        <th:block th:each="room : ${session.roomList}" th:object="${room}">
          <div class="messageChat">
            <button
              class="inBtn"
              th:value="*{targetNo}"
              th:onclick="|chatRoom(*{chattingNo}, *{targetNo})|"
            >
              <!-- 입장 버튼 -->
              <i class="fa-regular fa-comment"></i>
            </button>
            <!-- 안 읽은 카톡 개수 -->
            <div th:class="*{notReadCount > 0} ? 'notReadCount' : 'readCount'">
              <span
                th:text="*{notReadCount}"
                th:class="*{notReadCount > 0} ? 'notRead' : 'read'"
              ></span>
            </div>
            <div>
              <!-- 이름 -->
              <div th:text="*{targetNickName}" class="targetName"></div>
              <!-- 마지막 메세지 -->
              <div class="chatInfo">
                <!-- 마지막 메세지 -->
                <div class="message">
                  <span th:text="*{lastMessage}" class="lastMessage"></span>
                  <span th:text="*{sendTime}" class="sendTime"></span>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </div>
    </div>
    <div th:if="${#lists.isEmpty(session.roomList)}">
      <div>비어있음</div>
    </div>
  </div>
</div>
