<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>채팅방</title>
    <link rel="stylesheet" href="/css/chatting.css" />
  </head>
  <body>
    <div>
      <div class="container" th:if="${session.loginMember.memberNo} != 1">
        <div class="col-6">
          <label><b>채팅방</b></label>
        </div>
        <div class="chattingRoomWrapper">
          <div class="chattingRoom" id="chattingRoom"></div>
        </div>
        <div>
          <div id="msgArea" class="col"></div>
          <div class="col-6">
            <div class="input-group mb-3">
              <input
                type="text"
                id="msg"
                class="form-control"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary"
                  type="button"
                  id="button-send"
                  th:value="${chatRoom.chattingNo}"
                >
                  전송
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div th:unless="${session.loginMember.memberNo} != 1">
        <div th:unless="${#lists.isEmpty(roomList)}">
          <!-- 회원 목록 -->
          <div>
            <th:block th:each="room : ${roomList}" th:object="${room}">
              <div>
                <!-- 이름 -->
                <div th:text="*{targetNickName}"></div>
                <!-- 마지막 메세지 -->
                <div>
                  <span th:text="*{lastMessage}"></span>
                  <span th:text="*{sendTime}"></span>
                </div>

                <p th:text="*{notReadCount}"></p>
              </div>
            </th:block>
          </div>
          <!-- 채팅방 보일 곳 -->
          <div></div>
        </div>
        <div th:if="${#lists.isEmpty(roomList)}">
          <div>비어있음</div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      const memberName =
        /*[[${session.loginMember.memberName}]]*/ "현재 로그인한 회원 닉네임";

      const memberNo =
        /*[[${session.loginMember.memberNo}]]*/ "현재 로그인한 회원 번호";
    </script>

    <script src="/js/chatTest.js"></script>
  </body>
</html>
