<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
    />
  </head>
  <body>
    <form
      action="/file/uploadImage"
      method="post"
      enctype="multipart/form-data"
    >
      <span class="fa-stack fa-3x">
        <i class="far fa-circle fa-stack-2x"></i>
        <i class="fas fa-arrow-right fa-stack-1x"></i>
      </span>
      <i class="fas fa-solid fa-car"></i>
      <i class="fas fa-arrow-right fa-stack-1x"></i>
      <span>
        <i class="fas bi bi-0-circle"></i>
      </span>
      <input
        type="file"
        name="imageList"
        accept="image/*"
        multiple="multiple"
      />
      <input type="hidden" name="memberNo" value="1" />
      <button>업로드</button>
    </form>

    <input type="text" id="inputChat" />
    <button id="buttonChat">대화하기</button>
    <button type="button" onclick="returnChatGPTKey()">번호</button>
    <div id="respChat"></div>

    <script type="text/javascript" src="/js/lib/chatGPT.js"></script>
  </body>
</html>
