<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <link href="/css/lib/kakaoMap.css" rel="stylesheet" />
  </head>
  <!-- 출발지 <input type="text" id="start"> <button id="startBtn">검색</button> <br>
    도착지 <input type="text" id="end"> <button id="endBtn">검색</button> -->

  <div class="map_wrap">
    <div
      id="map"
      style="width: 100%; height: 100%; position: relative; overflow: hidden"
    ></div>

    <div id="menu_wrap" class="bg_white">
      <div class="option">
        <div></div>
      </div>
      <hr />
      <ul id="placesList"></ul>
      <div id="pagination"></div>
    </div>
  </div>

  <form onsubmit="searchPlaces(); return false;">
    위치 찾기 : <input type="text" id="keyword" />
    <button type="submit">검색하기</button>
  </form>

  <div>
    <div>
      출발지 : <span type="text" id="startKeyword" size="15"></span> <br />
      x = <span id="startX"></span> <br />
      y = <span id="startY"></span> <br />
    </div>
    <div>
      도착지 : <span type="text" id="endKeyword" size="15"></span> <br />
      x = <span id="endX"></span> <br />
      y = <span id="endY"></span> <br />
    </div>
  </div>

  <button id="drawMap" type="button">경로 그리기</button>

  <!-- 페이지가 정해졌을 때 API 키 숨기고 반환할 수 있도록!!!!!!!!!!!!!!! -->
  <script
    type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=505ac5632e649605a932e66a71794740&libraries=services,clusterer,drawing"
  ></script>
  <script type="text/javascript" src="/js/lib/kakaoMap.js"></script>
</html>
