<footer class="footer">
  <!-- footer-wrap-->
  <div class="footer-wrap">
    <!-- footer-wrap-->

    <!-- 위 쪽 -->
    <div class="footer-wrap-top-div">
      <a class="border-line"> 개인정보취급방침 </a>

      <a class="border-line"> 홈페이지 이용약관 </a>

      <a class="border-line"> 고객센터 </a>
    </div>
    <!-- 위 쪽 -->

    <!-- 아래 쪽 -->

    <section class="footer-section">
      <!--div1-->
      <div style="display: flex" class="footer-section-div">
        <li class="line" id="line-top">
          <span class="span-bold">주식회사 캠핑</span>
        </li>
        &nbsp;
        <li class="line" id="line-top">
          <span class="span-bold">대표이사 : 이민경</span>
        </li>
        &nbsp;
        <li><span class="span-bold"> 사업자등록번호</span> : 000-00-00000</li>
      </div>
      <!--div1-->

      <!--div2-->
      <div style="display: flex" class="footer-section-div">
        <li>
          <span class="span-bold"
            >서울 중구 남대문로 120 그레이츠청계 2,3층 (우)04540
          </span>
        </li>
      </div>
      <!--div2-->

      <!--div3-->
      <div style="display: flex" class="footer-section-div">
        <li class="line">
          <span class="span-bold"> 국내 여행업</span>: 2024-000000호
        </li>
        <li class="line">
          <span class="span-bold">통신판매</span> :
          2024-<span>서울종로</span>-04540
        </li>
        <li>
          <span class="span-bold">자동차 대여사업 : 평택시</span>2017-02호
        </li>
      </div>
      <!--div3-->

      <!--div4-->
      <div style="display: flex" class="footer-section-div">
        <li class="line">
          <span class="span-bold">대표전화</span>:02-000-0000
        </li>
        <li class="line">
          <span class="span-bold">고객센터</span> :070-0000-0000
        </li>
        <li class="line"><span class="span-bold">팩스</span> :0504-000-0000</li>
        <li><span class="span-bold">이메일</span> :gihyun0801@naver.com</li>
      </div>
      <!--div4-->
    </section>

    <!-- copyright -->

    <span class="copyRight"
      >Copyright &copy; 2024 www.healingCamp.com. All Rights Reserved. with
      CooP.</span
    >

    <!-- copyright -->

    <!-- 아래 쪽 -->

    <!-- footer-wrap-->
  </div>
  <!-- footer-wrap-->
</footer>
