<link rel="stylesheet" href="/css/header.css" />

<!-- <ul class="tools">
   <li>로그인</li>
   <li>회원가입</li>
</ul> -->

<!-- header 영역 -->
<div class="header">
  <!-- header 영역 -->

  <!-- div 1-->
  <div class="header-div-first">
    <a href="#">
      <p style="font-family: 'Ownglyph_Dailyokja-Rg'">휠링캠프</p>
    </a>
  </div>
  <!-- div 1-->

  <!-- div 2-->
  <ul class="header-div-second">
    <a href="#"><li>패키지</li></a>
    <a href="#"><li>차량대여</li></a>
    <a href="#"><li>캠핑용품</li></a>
    <a href="#"><li>후기</li></a>
  </ul>
  <!-- div 2-->

  <!-- div 3-->
  <ul class="header-div-third">
    <a href="member/login"><li>로그인</li></a>
    <a href="member/signUp"><li>회원가입</li></a>
  </ul>
  <!-- div 3-->

  <!-- header 영역 -->
</div>
<!-- header 영역 -->
