<link rel="stylesheet" href="/css/header.css" />

<!-- <ul class="tools">
   <li>로그인</li>
   <li>회원가입</li>
</ul> -->

<div class="header-wrap">

  <div class="header-top">
    <a href="/member/signUp" class="signUpBtnA"
      ><li class="line-height-none" style="font-family: sans-serif !important">
        회원가입
      </li></a
    >
    <a href="/member/login" class="loginBtnA"
      ><li
        class="line-height-none loginBtn"
        style="font-family: sans-serif !important"
      >
        로그인
      </li></a
    >
  </div>

  <div class="header">
    <!-- header 영역 -->


    <!-- div 2-->
    <ul class="header-div-second" id="div-second">
      <a href="/item/itemList?categoryCode=3"><li class="nav-li">패키지</li></a>
      <a href="/item/itemList?categoryCode=1"
        ><li class="nav-li">차량대여</li></a
      >
      <a href="/item/itemList?categoryCode=2"
        ><li class="nav-li">캠핑용품</li></a
      >
      <a href="#"><li class="nav-li">후기</li></a>
    </ul>
    <!-- div 2-->

    <!-- div 3-->
    <ul class="header-div-third" id="div-third">
      <!-- 유저 버튼 모달 트리거 -->
      <button
        type="button"
        class="far fa-thin fa-user userBtn"
        data-bs-toggle="modal"
        data-bs-target="#userModal"
      ></button>

      <a href=""><i class="far fa-thin fa-heart" id="fa-heart"></i></a>
      <i
        class="fas fa-light fa-bars"
        id="hamburger"
        style="cursor: pointer"
      ></i>
    </ul>
    <!-- div 3-->

  <!-- header 영역 -->
</div>

<script src="/js/member/findMember.js"></script>

