<link rel="stylesheet" href="/css/header.css" />

<!-- <ul class="tools">
   <li>로그인</li>
   <li>회원가입</li>
</ul> -->

<div class="header-wrap">
  <div class="header-top">
    <th:block th:unless="${session.loginMember}">
      <a class="signUpBtnA" data-bs-toggle="modal" data-bs-target="#checkList"
        ><li
          class="line-height-none"
          style="font-family: sans-serif !important"
        >
          회원가입
        </li></a
      >

      <a class="loginBtnA" data-bs-toggle="modal" data-bs-target="#userModal"
        ><li
          class="line-height-none loginBtn"
          style="font-family: sans-serif !important"
        >
          로그인
        </li></a
      >
    </th:block>

    <th:block th:if="${session.loginMember}">
      <!-- 일반 회원 기능 -->
      <th:block th:unless="${session.loginMember.memberNo == 1}">
        <a href="/myPage/info" class="signUpBtnA"
          ><li
            class="line-height-none"
            style="font-family: sans-serif !important"
          >
            마이페이지
          </li></a
        >
        <a
          href="/member/logout"
          class="logout"
  
          ><li
            class="line-height-none loginBtn"
            style="font-family: sans-serif !important"
          >
            로그아웃
          </li></a
        >
      </th:block>

      <th:block th:if="${session.loginMember.memberNo == 1}">
        <a href="/manage/info" class="signUpBtnA"
          ><li
            class="line-height-none"
            style="font-family: sans-serif !important"
          >
            관리자 기능
          </li></a
        >
      </th:block>
    </th:block>
  </div>

  <!-- header 영역 -->
  <div class="header">
    <!-- header 영역 -->

    <!-- div 1-->
    <div class="header-div-first">
      <a href="/">
        <!-- <p style="font-family: 'Ownglyph_Dailyokja-Rg'">휠링캠프</p> -->
         <img src="/images/logo/logo.png" alt="">
      </a>
    </div>
    <!-- div 1-->

    <!-- div 2-->
    <ul class="header-div-second" id="div-second">
      <a href="/item/itemList?categoryCode=3"><li class="nav-li">패키지</li></a>
      <a href="/item/itemList?categoryCode=1"
        ><li class="nav-li">차량대여</li></a
      >
      <a href="/item/itemList?categoryCode=2"
        ><li class="nav-li">캠핑용품</li></a
      >
      <a href="/board/boardList"><li class="nav-li">후기</li></a>
    </ul>
    <!-- div 2-->

    <!-- div 3-->
    <ul class="header-div-third" id="div-third">
      <!-- 유저 버튼 모달 트리거 -->

      <!-- 로그인 되어 있을 때-->
      <th:block th:if="${session.loginMember}">
        <a href="/myPage/info">
          <img
            th:with="user=#{user.default.image}"
            th:src="${session.loginMember.profileImg?:user}"
            class="userProfile"
          />
        </a>
      </th:block>

      <!-- 로그인 안되어 있을 경우-->
      <th:block th:if="!${session.loginMember}">
        <button
          type="button"
          class="far fa-thin fa-user userBtn"
          data-bs-toggle="modal"
          data-bs-target="#userModal"
          id="user-btn"
        ></button
      ></th:block>

      <a href=""><i class="far fa-thin fa-heart" id="fa-heart"></i></a>
      <i
        class="fas fa-light fa-bars"
        id="hamburger"
        style="cursor: pointer"
      ></i>
    </ul>
    <!-- div 3-->

    <!-- header 영역 -->
  </div>
  <!-- header 영역 -->
</div>
