<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>제목</title>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/mainJquery.js"></script>
    <script src="/js/main.js"></script>
    <script
      src="https://kit.fontawesome.com/ee19f0586f.js"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/js/lib/bootstrap.bundle.js"></script>
    <link href="/css/lib/bootstrap.css" rel="stylesheet" />
    <link href="/css/common/bootstrapConfig.css" rel="stylesheet" />
    <link href="/css/common/main.css" rel="stylesheet" />
    <link href="/css/map.css" rel="stylesheet" />
    <link href="/css/common/findModal.css" rel="stylesheet" />
    <link href="/css/lib/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/common/signUpCheck.css" />
  </head>
  <body>
    <!-- 헤더 -->
    <th:block th:replace="~{common/header}">헤더</th:block>

    <!-- <div class="main">
      <div class="mainContainer"> -->
    <!-- 스페이서 L -->
    <!-- <div class="sideSpacer"></div> -->

    <!-- 메인 내용 -->
    <!-- <div class="content"> -->
    <th:block layout:fragment="main"></th:block>
    <!-- </div> -->

    <!-- 스페이서 R -->
    <!-- <div class="sideSpacer"></div>
      </div>
    </div> -->

    <!-- 푸터 -->
    <th:block th:replace="~{common/footer}">푸터</th:block>

    <!-- 화살표 -->
    <div class="arrow-box">
      <img src="/images/arrow/arrow.png" alt="" class="arrow-box-img" />
    </div>
    <!-- 화살표 -->

    <!-- 문의 -->

    <div class="inquiry">
      <img src="/images/inquiry/inquiry.png" alt="" />
    </div>

    <!-- 문의 -->

    <!-- 슬라이드 메뉴ㅜ -->

    <div id="box" class="clearfix">
      <div class="x-btn-box">
        <i class="far fa-thin fa-x" style="position: relative; left: 7px"></i>
      </div>

      <div id="menu">
        <ul class="menu-li-ul">
          <li style="line-height: 0px" class="menu-li">패키지</li>
          <li style="line-height: 0px" class="menu-li">차량대여</li>
          <li style="line-height: 0px" class="menu-li">캠핑용품</li>
          <li style="line-height: 0px" class="menu-li">후기</li>
        </ul>
      </div>

      <div class="box-login-signup">

        <th:block th:if="${session.loginMember == null}">
          <a href="" class="box-signUp box-login-a"> 회원가입 </a>
       </th:block>

       <th:block th:if="${session.loginMember != null}">
           <a href="" class="box-signUp box-login-a"> 내정보 </a>
       </th:block>

        <th:block th:if="${session.loginMember == null}">
          <a href="" class="box-login box-login-a" id="main-page-loginBtn"> 로그인 </a>
        </th:block>

        <th:block th:if="${session.loginMember != null}">
          <a href="/member/logout" class="box-login box-login-a" id="main-page-logoutBtn">로그아웃</a>
        </th:block>
        
    
       
      </div>
    </div>

    <div id="box-wrap"></div>
    <!-- 슬라이드 메뉴 -->

    <div
      class="modal fade"
      id="userModal"
      tabindex="-1"
      aria-labelledby="userModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title loginTitle" id="userModalLabel">로그인</h5>
            <!-- 타이틀 -->
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body loginBody">
            <form action="/member/login" method="post" class="loginMain">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="floatingId"
                  name="memberId"
                  placeholder="아이디"
                />
                <label for="floatingPassword">아이디</label>
              </div>
              <div class="form-check mb-3">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="flexCheckDefault"
                  name="saveId"
                />
                <label class="form-check-label saveId" for="flexCheckDefault">
                  아이디 기억하기
                </label>
              </div>

              <div class="form-floating mb-3">
                <input
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                  name="memberPw"
                  placeholder="비밀번호"
                />
                <label for="floatingPassword">비밀번호</label>
              </div>
              <button type="submit" class="btn btn-primary loginBtn mb-3">
                로그인
              </button>

              <!-- 찾기 버튼 모음-->
              <div class="assistBtn mb-3">
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#checkList"
                  id="login-findId"
                  >회원가입</a
                >
                |
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#findId"
                  id="login-findId"
                  class="function"
                  >아이디 찾기</a
                >
                |
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#findPw"
                  id="login-findPw"
                  class="function"
                  >비밀번호 찾기</a
                >
              </div>

              <!-- API 로그인 -->
              <div class="modal-footer">
                <a class="btn loginBtn naverBtn" href="/member/loginNaver">
                  <img
                    src="/images/loginButton/naverBtn.png"
                    alt="네이버 로그인"
                  />
                </a>
                <a class="btn loginBtn kakaoBtn" href="/member/loginKakao"
                  ><img
                    src="/images/loginButton/kakaoBtn.png"
                    alt="카카오 로그인"
                /></a>
                <a class="btn loginBtn googleBtn" href="/member/loginGoogle"
                  ><img
                    src="/images/loginButton/googleBtn.png"
                    alt="구글 로그인"
                /></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!------------------------- 아이디 찾기 모달창 ------------------------->
    <div
      class="modal fade"
      id="findId"
      tabindex="-1"
      aria-labelledby="userModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title loginTitle" id="userModalLabel">
              아이디 찾기
            </h5>
            <!-- 타이틀 -->
            <button
              type="button"
              class="btn-close reset"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body loginBody">
            <form class="auth-from">
              <div class="form-memberName">
                <i class="fa-solid fa-user memberName-i"></i>
                <input
                  class="memberName-input"
                  type="text"
                  id="floatingName"
                  name="memberName"
                  placeholder="이름을 입력해주세요"
                />
              </div>
              <div class="auth-radio">
                <div class="form-radio">
                  <input
                    class="form-radio-input"
                    type="radio"
                    checked
                    id="idTelRadio"
                    name="idRadio"
                  />
                  <label class="form-radio-label saveId" for="idTelRadio">
                    휴대폰 인증하기
                  </label>
                </div>

                <div class="form-tel-auth auth-input-line">
                  <input
                    type="tel"
                    maxlength="11"
                    placeholder="'-'제외"
                    id="idMemberPhoneNo"
                    class="auth-input"
                  />
                  <button
                    type="button"
                    id="idTelRequestAuth"
                    class="auth-request-btn auth-id-request-btn"
                  >
                    인증번호 요청
                  </button>
                </div>
              </div>

              <div class="auth-radio">
                <div class="form-radio">
                  <input
                    class="idRadio form-radio-input"
                    type="radio"
                    id="idEmailRadio"
                    name="idRadio"
                  />
                  <label class="form-radio-label saveId" for="idEmailRadio">
                    이메일 인증하기
                  </label>
                </div>

                <div class="form-email-auth auth-input-line">
                  <input
                    type="email"
                    id="idMemberEmail"
                    class="auth-input"
                    disabled
                  />
                  <button
                    type="button"
                    id="idEmailRequestAuth"
                    class="auth-request-btn auth-id-request-btn"
                  >
                    인증번호 요청
                  </button>
                </div>
              </div>

              <div class="form-auth auth-typing-div">
                <div class="form-auth-num">
                  <span class="auth-typing-span">인증번호 입력</span>
                  <input type="text" id="idAuthNum" class="auth-typing-input" />
                </div>
                <div class="form-auth-message">
                  <span id="idCount"></span>
                  <button type="button" id="idAuthBtn" class="auth-btn">
                    인증
                  </button>
                </div>
              </div>

              <!-- 찾기 버튼 모음-->
              <div class="assistBtn mb-3">
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#userModal"
                  class="function"
                  >로그인</a
                >
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#checkList"
                  id="login-findId"
                  >회원가입</a
                >
                |
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#findPw"
                  id="findId-findPw"
                  class="function"
                  >비밀번호 찾기</a
                >
              </div>

              <!-- 아이디 찾기 누를때 아이디 나타내주는 div -->
              <span id="idAppend" class="idAppend"></span>

              <button id="findIdButton" type="button" class="findId-btn">
                아이디 찾기
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!------------------------- 비밀번호 찾기 모달창 ------------------------->
    <div
      class="modal fade"
      id="findPw"
      tabindex="-1"
      aria-labelledby="userModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title loginTitle" id="userModalLabel">
              비밀번호 찾기
            </h5>
            <!-- 타이틀 -->
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body loginBody">
            <form class="auth-from">
              <div class="form-memberName">
                <i class="fa-solid fa-user memberName-i"></i>
                <input
                  class="memberName-input"
                  type="text"
                  id="floatingCheckId"
                  name="memberId"
                  placeholder="아이디를 입력해주세요"
                />
              </div>
              <div class="auth-radio">
                <div class="form-radio">
                  <input
                    class="form-radio-input"
                    type="radio"
                    checked
                    id="pwTelRadio"
                    name="pwRadio"
                  />
                  <label class="form-radio-label saveId" for="pwTelRadio">
                    휴대폰 인증하기
                  </label>
                </div>

                <div class="form-tel-auth auth-input-line">
                  <input
                    type="tel"
                    maxlength="11"
                    placeholder="'-'제외"
                    id="pwMemberPhoneNo"
                    class="auth-input"
                  />
                  <button
                    type="button"
                    id="pwTelRequestAuth"
                    class="auth-request-btn"
                  >
                    인증번호 요청
                  </button>
                </div>
              </div>

              <div class="auth-radio">
                <div class="form-radio auth-radio">
                  <input
                    class="form-radio-input"
                    type="radio"
                    id="pwEmailRadio"
                    name="pwRadio"
                  />
                  <label class="form-radio-label saveId" for="pwEmailRadio">
                    이메일 인증하기
                  </label>
                </div>

                <div class="form-email-auth auth-input-line">
                  <input
                    type="email"
                    id="pwMemberEmail"
                    class="auth-input"
                    disabled
                  />
                  <button
                    type="button"
                    id="pwEmailRequestAuth"
                    class="auth-request-btn"
                  >
                    인증번호 요청
                  </button>
                </div>
              </div>

              <div class="form-auth auth-typing-div">
                <div class="form-auth-num">
                  <span class="auth-typing-span">인증번호 입력</span>
                  <input type="text" id="pwAuthNum" class="auth-typing-input" />
                </div>
                <div class="form-auth-message">
                  <span id="pwCount"></span>
                  <button type="button" id="pwAuthBtn" class="auth-btn">
                    인증
                  </button>
                </div>
              </div>

              <!-- 찾기 버튼 모음-->
              <div class="assistBtn mb-3">
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#userModal"
                  class="function"
                  >로그인</a
                >
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#checkList"
                  id="login-findId"
                  >회원가입</a
                >
                |
                <a
                  data-bs-toggle="modal"
                  data-bs-target="#findId"
                  id="findPw-findId"
                  class="function"
                  >아이디 찾기</a
                >
              </div>

              <!-- 비밀번호 찾기 누를때 새 비밀번호 변경 표시 -->
              <span id="pwAppend"></span>

              <div class="hidden-change-password" id="changePassword">
                <form>
                  <table>
                    <tr>
                      <td>
                        <span class="change-span">새 비밀번호</span>
                      </td>
                      <td>
                        <input type="password" class="change-input" />
                      </td>
                      <td>
                        <span id="newPwMessage"></span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="change-span">새 비밀번호 확인</span>
                      </td>
                      <td>
                        <input type="password" class="change-input-check" />
                      </td>
                      <td>
                        <button class="change-btn" type="button">변경</button>
                      </td>
                    </tr>
                  </table>
                </form>
              </div>

              <button id="findPwButton" type="button" class="findId-btn">
                비밀번호 찾기
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- alert 커스텀 -->

    <div id="custom-alert-wrap">
      <div class="custom-alert-wrap-div">
        <p class="custom-alert-p"></p>
        <button onclick="showMyCustomAlertClose()" class="okBtn">확인</button>
      </div>
    </div>

    <!-- alert 커스텀 -->

    <!-- confirm 커스텀 -->

<div id="customConfirm" class="custom-confirm">
  <div class="custom-confirm-content">
      <p class="confirmP">정말로 삭제할까요 ?</p>

        <div class="confirmBtn-wrap">
          <button onclick="confirmAction()" class="confirmBtn">예</button>
          <button onclick="closeCustomConfirm()" class="confirmBtn confirmBtn2">
            아니요
          </button>
        </div>
      </div>
    </div>

    <!-- confirm 커스텀 -->

    <!---------------------- 이용약관 --------------------->

    <div
      class="modal fade"
      id="checkList"
      tabindex="-1"
      aria-labelledby="userModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="signUp-content">
          <div class="modal-header" id="signUp-header">
            <h5 class="modal-title signUpCheck-h" id="userModalLabel">
              이용약관
            </h5>
            <!-- 타이틀 -->
            <button
              type="button"
              class="btn-close reset signUpCheck-button"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>

          <div class="modal-body-custom">
            <form class="signUp-form">
              <div class="signUp-form-div">
                <div>
                  <input type="checkbox" class="signUp-checkbox" id="agree1" />
                  <label for="agree1">
                    <span class="signUp-span">동의</span>
                  </label>
                </div>
                <div class="signUp-textDiv">이용약관 내용</div>
              </div>
              <div class="signUp-form-div">
                <div>
                  <input type="checkbox" class="signUp-checkbox" id="agree2" />
                  <label for="agree2">
                    <span class="signUp-span">동의</span>
                  </label>
                </div>
                <div class="signUp-textDiv">이용약관 내용</div>
              </div>
              <div class="signUp-form-div">
                <input type="checkbox" class="signUp-checkbox" id="agree3" />
                <label for="agree3">
                  <span class="signUp-span">18세 이상입니다.</span>
                </label>
              </div>
              <hr class="signUp-hr" />
              <div class="signUp-form-div signUp-all">
                <input
                  type="checkbox"
                  class="signUp-checkbox-all"
                  id="all-agree"
                />
                <label for="all-agree">
                  <span class="signUp-span">전체동의</span>
                </label>
              </div>
              <div class="signUp-agree-div">
                <button type="button" class="signUp-agree">회원가입</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div id="first_hwa">

      <div id="header_long">
         <h1 class="header_logo_h1"><img src="/images/logo/logo.png" alt=""></h1>
      </div>
   
   
      <div id="count-count">
         <p class="count-shot">0</p>
         <p class="count-shot0">/</p>
         <p class="count-shot2">100</p>
      </div>
   
   <div id="count-wrapper">
      <div id="count-box"></div>
   </div>


   </div>

    <script src="/js/member/findMember.js"></script>

    <script src="/js/lib/jquery-ui.js"></script>

    <script th:inline="javascript">
      const loginMember = /*[[${session.loginMember}]]*/ "로그인 아이디";
    </script>

    <script></script>
    <!-- 전달 확인용 alert 메세지-->

    <script th:inline="javascript">
      const message = /*[[${message}]]*/ "전달 받은 message";

      function showMyCustomAlert10(message) {
    const alertWrap = document.getElementById('custom-alert-wrap');
    const alertMessage = document.querySelector('.custom-alert-p');
    alertMessage.textContent = message;
    alertWrap.style.display = 'block';
  }

  function showMyCustomAlertClose10() {
    const alertWrap = document.getElementById('custom-alert-wrap');
    alertWrap.style.display = 'none';
  }

  if (message != null) {
    showMyCustomAlert10(message);
  }





    </script>
  </body>
</html>
