<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/terms.css">
    <title>개인정보취급방침</title>
</head>
<body>
    <th:block layout:fragment="main">
        <div class="main">

            <h1 class="termMain"> 개인정보 수집 및 이용</h1>
            <br>
            <pre>
        
                1. 수집하는 개인정보 항목

                - 필수 항목: 이름, 전화번호, 이메일 주소
                - 선택 항목: 주소, 생년월일, 기타 추가 정보

                2. 개인정보의 수집 및 이용 목적
                
                - 회원 가입 및 관리
                - 서비스 제공 및 문의 응대
                - 이용자 식별 및 본인 확인
                - 고객 상담 및 불만 처리
                - 마케팅 및 광고 활용 (선택 동의 시)

                3.  개인정보의 보유 및 이용 기간
               
                - 회원 탈퇴 시 혹은 개인정보 파기 요청 시까지

                4.  개인정보의 파기 절차 및 방법
                 
                - 개인정보 수집 및 이용 목적 달성 후 즉시 파기
                - 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법으로 삭제

                5. 개인정보의 제공 및 공유
                
                - 법령에 의한 경우 또는 사용자 동의가 있는 경우를 제외하고는 제 3자에게 제공하지 않음
               
                6.  개인정보의 안전성 확보 조치
                 
                - 개인정보 보호 관련 규정을 준수하며, 관련 법령에 따른 안전성 확보 조치를 이행
                
                7. 이용자의 권리와 행사 방법
               
                - 개인정보 열람, 정정, 삭제 요구
                - 개인정보 처리 정지 요구
                - 동의 철회 및 개인정보 파기 요청

                8. 개인정보 관리 책임자 연락처
                
                - 책임자: [이충섭]
                - 이메일: [chungseopE@naver.com]
                - 전화번호: [010-1234-5678]

                9. 개인정보 처리방침 변경 시 공지 의무
                 
                - 법령이나 정책의 변경 등으로 인해 내용이 변경될 경우 변경 사항을 사전 공지
                - 본인은 위의 개인정보 수집 및 이용에 동의합니다.
        </pre>

        </div>

</body>
</html>