<!DOCTYPE html>
<html lang="ko"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{common/main}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/terms.css">
    <title>홈페이지 이용약관</title>
</head>
<body>
    <th:block layout:fragment="main">
    <div class="main">

        <h1 class="termMain"> 홈페이지 이용약관</h1>
        <br>
        <pre>
            1. 정의

            본 약관에서 사용하는 용어의 정의는 다음과 같습니다.
            "사이트": [홈페이지 도메인명]을 말합니다.
            "회원": 사이트에 접속하여 이 약관에 따라 서비스를 이용하는 자를 말합니다.
            "비회원": 회원 가입을 하지 않고 서비스를 이용하는 자를 말합니다.
            "서비스": 사이트가 제공하는 모든 서비스 및 기능을 말합니다.

            2. 약관의 효력과 변경
            
            본 약관은 회원이 사이트에 가입하거나 서비스를 이용할 때 효력을 발생합니다.
            사이트는 필요 시 본 약관을 변경할 수 있으며, 변경된 약관은 사이트에 공지하거나 회원에게 통지함으로써 효력을 발생합니다.
            회원은 약관 변경에 대해 동의하지 않을 경우 서비스 이용을 중단하고 회원 탈퇴를 요청할 수 있습니다.
            
            3. 서비스 제공 및 이용
            
            사이트는 회원에게 일정한 서비스를 제공할 수 있으며, 회원은 제공되는 서비스를 이용할 수 있습니다.
            회원은 서비스를 이용함에 있어 사이트의 정책, 관리 규정 및 지침을 준수해야 합니다.
           
            4. 회원의 의무
            
            회원은 본인의 개인정보를 정확히 제공해야 하며, 이에 대한 관리 책임을 부담합니다.
            회원은 사이트를 이용함에 있어 타인의 권리를 침해하거나 불법적인 목적으로 사용해서는 안 됩니다.
            
            5. 서비스 이용 제한
            
            사이트는 회원이 약관을 위반하거나 법령을 위반하는 행위를 할 경우, 서비스 이용을 제한하거나 계정을 삭제할 수 있습니다.
            회원은 사이트가 제공하는 서비스를 정상적으로 이용하기 위해 필요한 조치를 취해야 합니다.
            
            6. 책임 제한
            
            사이트는 회원이 서비스를 이용하면서 발생한 직접적이거나 간접적인 손해에 대해 책임을 지지 않습니다.
            회원은 자신의 계정 및 비밀번호 관리에 대한 책임을 부담해야 합니다.
            
            7. 권리의 귀속
            
            사이트가 제공하는 모든 콘텐츠 및 자료에 대한 저작권 및 기타 지적 재산권은 사이트에 귀속됩니다.
            회원은 사이트가 명시적으로 승인한 경우를 제외하고는 사이트의 콘텐츠를 무단으로 복제, 배포, 전송, 수정하는 등의 행위를 할 수 없습니다.
            
            8. 분쟁 해결
            
            본 약관에 관한 분쟁은 대한민국 법령을 적용하며, 관할 법원은 [사이트 소재지의 법원]으로 합니다.
            본인은 위의 홈페이지 이용약관을 숙지하였으며, 이에 동의합니다.
    </pre>

    </div>
</body>
</html>