<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관심상품</title>
    <link href="/css/lib/lightpick.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/myPage/cart.css" />

    <link href="/css/common/bootstrapConfig.css" rel="stylesheet" />
    <script type="text/javascript" src="/js/lib/bootstrap.bundle.js"></script>
  </head>
  <th:block layout:fragment="main">
    <!-- Modal -->
    <div
      class="modal fade modal2"
      id="calendarModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">대여 날짜 정하기</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="modal-body-info">
              <div class="item-info">
                <img class="item-img" src="" alt="">
                <div class="item-info-div">
                  <span class="modalin">이름</span>
                  <span class="name"></span>
                </div>
                <div class="item-info-div">
                  <span class="modalin">가격 /1박</span>
                  <span class="price"></span>
                </div>
                <div class="item-info-date-div">
                  <span class="modalin">대여 날짜</span>
                  <span class="dateSpan"></span>
                </div>
                <div class="item-info-div">
                  <span class="modalin">결제 금액</span>
                  <span class="totalPriceSpan"></span>
                </div>
                <input type="hidden" class="item-no">
              </div>
              <input
                style="display: none"
                type="text"
                id="datePick"
                class="form-control form-control-sm"
              />
            </div>
            <!-- 결과 날짜 담을 태그-->
            
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              닫기
            </button>
            <button type="button" id="addCartList" class="btn btn-primary">대여하기</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 테스트테스트테스트테스트테스트테스트테트스테트세트세틋테ㅡㅅ테슽셑스테슽ㅅ -->

    <div class="cart-name">
      <a href="/myPage/info" class="backBtn">
        <i class="fa-solid fa-angle-left"></i>
      </a>
      <h1 class="cart-name-h1">관심상품</h1>
    </div>
    <!-- 장바구니 화면 전체 div -->
    <div>
      <!-- 대여상품 div -->
      <div class="rental-div interext-div">
        <!-- 전체 체크 -->
        <div class="rental-div-checkbox-div">
          <input
            type="checkbox"
            class="rental-div-checkbox rental-all-check rental-car-all-check"
            checked
          />
        </div>
        <!-- 대여상품 list -->
        <div class="interest-div-list">
          <!-- 대여상품 구분하는 긴 줄 -->
          <div class="rental-car-div-line">
            <span>관심 차량</span>
          </div>
          <!-- 대여상품 -->
          <div class="cartList rentalCarList">
            <!-- 화면 로드 시 장바구니 js 에서 목록을 불러와 html을 생성 -->
          </div>
          <!-- 대여상품 끝나는 div -->
          <div class="rental-car-div-end"></div>
          <div class="rental-money">
            <button class="delete-check-btn" id="rental-car-check-delete">
              선택 상품 삭제
            </button>
          </div>
        </div>
      </div>

      <!------------------------ 대여 상품 --------------------------->

      <!-- 대여상품 div -->
      <div class="rental-div interext-div">
        <!-- 전체 체크 -->
        <div class="rental-div-checkbox-div">
          <input
            type="checkbox"
            class="rental-div-checkbox rental-all-check rental-item-all-check"
            checked
          />
        </div>
        <!-- 대여상품 list -->
        <div class="interest-div-list">
          <!-- 대여상품 구분하는 긴 줄 -->
          <div class="rental-item-div-line">
            <span>관심 상품</span>
          </div>
          <!-- 대여상품 -->
          <div class="cartList rentalItemList">
            <!-- 화면 로드 시 장바구니 js 에서 목록을 불러와 html을 생성 -->
          </div>
          <!-- 대여상품 끝나는 div -->
          <div class="rental-item-div-end"></div>
          <div class="rental-money">
            <button class="delete-check-btn" id="rental-item-check-delete">
              선택 상품 삭제
            </button>
          </div>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      const memberNo = /*[[${session.loginMember?.memberNo}]]*/ "회원 번호";
    </script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"
    ></script>
    <script src="/js/lib/lightpick.js"></script>

    <script src="/js/myPage/interest.js"></script>
  </th:block>
</html>
