<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <link rel="stylesheet" href="/css/myPage/profile.css" />
  </head>
  <th:block layout:fragment="main">
    
  <div class="profile-area">
    <div class="profile-title">
      내 정보 수정
    </div>
  
    <form
      action="profile"
      method="POST"
      name="profileForm"
      id="profileForm"
      class="profileForm"
    >
      <div class="profile-div">
        <!-- 아이디 (수정x 보여지기만) -->
        <div class="profile-input-area">
          <label>
            아이디
            <br>
            <input
              th:value="${session.loginMember.memberId}"
              type="text"
              readonly
            />
          </label>
        </div>

        <!-- 이름 수정-->
        <div class="profile-input-area">
          <label>
            이름
            <br>
            <input
            th:value="${session.loginMember.memberName}"
            type="text"
            id="memberName"
            name="memberName"
            placeholder="수정할 이름을 입력해주세요"
            />
          </label>
        </div>

        <!-- 닉네임 수정-->
        <div class="profile-input-area">
          <label>
            닉네임
            <span class="memberNickNameMessage">이미 사용중인 닉네임 입니다.</span>
            <br>
            <input
            th:value="${session.loginMember.memberNickName}"
            type="text"
            id="memberNickName"
            name="memberNickName"
            placeholder="수정할 닉네임을 입력해주세요"
            />
            
          </label>
          <br />
          
        </div>

        <!-- 전화번호 수정-->
        <div class="profile-input-area">
          <label>
            전화번호
            <span class="memberPhoneNoMessage">이미 사용중인 전화번호 입니다.</span>
            <br>
            <input
            th:value="${session.loginMember.memberPhoneNo}"
            type="text"
            id="memberPhoneNo"
            name="memberPhoneNo"
            placeholder="(-빼고 입력해주세요)"
            />
          </label>
          <br />
        </div>

        <!-- 생년월일 수정 -->
        <div class="profile-input-area">
          <label>
            생년월일
            <br>
            <input
            th:value="${session.loginMember.memberBirth}"
            type="text"
            id="memberBirth"
            name="memberBirth"
            placeholder="'20240620' 형태로 작성해주세요"
            />
          </label>
          <br />
        </div>

        <!-- 주소 입력 -->
        <label for="memberAddress">
          주소
          <div class="profile-input-area">
            <input
            type="text"
            name="memberAddress"
            placeholder="우편번호"
            maxlength="6"
            id="postcode"
            th:value="${postcode}"
            readonly
            />
            <button type="button" id="searchAddress">검색</button>
          </div>
          <div class="profile-input-area">
            <input
            type="text"
            name="memberAddress"
            placeholder="도로명/지번 주소"
            id="address"
            th:value="${address}"
            readonly
            />
          </div>
          <div class="profile-input-area">
            <input
            type="text"
            name="memberAddress"
            placeholder="상세 주소"
            id="detailAddress"
            th:value="${detailAddress}"
            />
          </div>
        </label>
          
        <!-- 이메일 입력 -->
        <div class="profile-input-area">
          <div
            class="profile-email-area"
            id="emailDiv"
            style="pointer-events: none"
          >
            <label for="memberEmail">
              <span class="required">이메일</span>
              <br>
              <input
              type="email"
              class="email"
              id="memberEmail"
              name="memberEmail"
              th:value="${session.loginMember.memberEmail}"
              />
            </label>
          </div>

          <!-- 이메일 변경 버튼 -->
          <button
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#emailModal"
            id="emailBtn"
          >
            이메일 변경
          </button>
          <!-- 이메일 변경 모달창 -->
          <div
            class="modal fade"
            id="emailModal"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="emailModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="emailModalLabel">이메일 변경</h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>변경할 이메일을 작성후 인증번호 요청 버튼을 눌러주세요</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    확인
                  </button>
                </div>
              </div>
            </div>
          </div>

          <br />

          <!--인증번호 요청 버튼 -->
          <div id="authKeyDiv">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#authKeyModal"
              id="sendAuthKeyBtn"
              style="display: none"
            >
              인증번호 요청
            </button>
          </div>

          <!-- 인증번호 입력하는 모달창 -->
          <div
            class="modal fade"
            id="authKeyModal"
            tabindex="-1"
            aria-labelledby="authKeyModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="authKeyModalLabel">
                    인증번호 요청
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  인증번호입력
                  <input
                    type="text"
                    name="authNum"
                    id="authNum"
                    placeholder="인증번호를 입력해주세요"
                    maxlength="6"
                    autocomplete="off"
                  />
                  <br />
                  <span class="update-message" id="authKeyMessage"></span>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    취소
                  </button>
                  <button
                    type="button"
                    class="btn btn-primary"
                    id="authKeyBtn"
                  >
                    인증하기
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />
        <br />
        <hr />

        <!-- 수정완료버튼, 취소버튼 -->
        <div class="profile-submit">
          
          <a href="/myPage/info" id="cancel" class="cancel">
            <i class="far fa-solid fa-chevron-left"></i>
          </a>
          <button id="profileBtn">수정완료</button>
        </div>
      </div>
    </form>

    <!-- 비밀번호 변경 버튼 -->
    <div>
      <button
          th:if="${session.loginMember.memberPw == null}"
          aria-hidden="true"
          type="button"
          class="changPw-btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
      >
          비밀번호 변경
      </button>
  
      <button
          th:unless="${session.loginMember.memberPw == null}"
          type="button"
          class="changPw-btn"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal2"
      >
          비밀번호 변경
      </button>
  </div>


      <!-- 비밀번호 변경 모달창 -->
      <form
        action="changePw"
        method="POST"
        id="changePwForm"
        name="changePwForm"
      >
        <div
          class="modal fade"
          id="exampleModal2"
          tabindex="-1"
          aria-labelledby="exampleModalLabel2"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">
                  비밀번호 변경
                </h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <label>
                  변경할 비밀번호 입력
                  <input
                    type="password"
                    placeholder="변경할 비밀번호를 입력해주세요"
                    id="newPw"
                    name="newPw"
                  />
                  <br />
                  변경될 비밀번호 확인
                  <input
                    type="password"
                    placeholder="변경 비밀번호를 확인해주세요"
                    id="newPwConfirm"
                    name="newPwConfirm"
                  />
                </label>
                <br />
                <span class="newPw-message" id="newPwMessage">비밀번호는 최소 6자에서 16자까지, 영문자,숫자,특수문자를 포함해야합니다.</span>
                <br />
              </div>
              <div class="modal-footer">
                <label>
                  현재 비밀번호 입력
                  <input
                    type="password"
                    placeholder="비밀번호를 입력해주세요"
                    id="currentPw"
                    name="currentPw"
                  />
                </label>
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  취소
                </button>
                <button class="btn btn-primary" id="changePwBtn">변경</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  
    <script
      src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"
    ></script>
    <script src="/js/myPage/profile.js"></script>
  </th:block>
</html>
