.chattingRoom {
  border: 1px solid black;
  width: 300px;
  height: 500px;
  overflow: auto;
}

.myChatDiv,
.yourChatDiv {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.myChatDiv {
  align-items: flex-end;
}

.yourChatDiv {
  align-items: flex-start;
}

.chattingRoom::-webkit-scrollbar {
  width: 10px;
}

.chattingRoom::-webkit-scrollbar-thumb {
  height: 30%; /* 스크롤바의 길이 */
  background: #848484; /* 스크롤바의 색상 */
  border-radius: 10px;
}
.chattingRoom::-webkit-scrollbar-track {
  background: #84848447; /*스크롤바 뒷 배경 색상*/
}

.answerDiv {
  margin: 5px;
  width: 200px;
  border-radius: 5px;
  padding: 7px;
}

.nameSpan {
  margin-left: 15px;
  margin-right: 15px;
}

/* 나의 채팅 */
.myChat {
  background-color: #f9f7f0;
}

/* 상대방의 채팅 */
.yourChat {
  background-color: #e4e4d0;
}

.mainDiv {
  display: flex;
  width: 700px;
}

.main1 {
  flex-basis: 40%;
}

.main2 {
  flex-basis: 60%;
  display: none;
}

/* 안읽었을때 숫자 */
.notRead,
.read {
  color: white;
}

.notRead,
.read {
  line-height: 20px;
}

.notReadCount {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: red;
}

.readCount {
  margin-left: 15px;
  margin-right: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.messageChat {
  display: flex;
  height: 50px;
  align-items: center;
}

.targetName {
  margin-bottom: 5px;
  font-size: 18px;
}

.lastMessage {
  font-size: 14px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
  width: 100px;
  height: 20px;
}

.chatInfo {
  display: flex;
}

.sendTime {
  font-size: 12px;
}

.message {
  display: flex;
}
