.itemImageContainer {
  display: flex;
  flex-direction: column;
}

.itemImageMain {
  width: 800px;
  height: 800px;
  overflow: hidden;
}

.itemImageMain > img {
  height: 100%;
}

.itemImageList {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.itemImageList img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.magnify-large {
  position: absolute;
  display: none;
  border-radius: 5px;
  z-index: 100;
  width: 280px;
  height: 280px;
}
