<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link href="/css/lib/lightpick.css" rel="stylesheet" /> dd
    <link href="/css/lib/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
    <!-- 달력 -->
    <input
      style="display: none"
      type="text"
      id="datePick"
      class="form-control form-control-sm"
    />
    <!-- 결과 날짜 담을 태그-->
    <div id="dateResult"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>  dd
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/lib/jquery-ui.js"></script>
    <script src="/js/lib/bootstrap.bundle.js"></script>
    <script src="/js/lib/lightpick.js"></script>dd
    <script>
      new Lightpick({
        field: document.getElementById('datePick'),
        singleDate: false,
        onSelect: function (start, end) {
          // 결과 값 반환
          var str = '';
          str += start ? start.format('Do MMMM YYYY') + ' to ' : '';
          str += end ? end.format('Do MMMM YYYY') : '...';
          // 선택한 날짜 값 전달 (str)
          document.getElementById('dateResult').innerHTML = str;
        },
        inline: true,
      });
    </script>
  </body>
</html>
