<!DOCTYPE html>
<html>
  <head>
    <!-- 페이지별 CSS /> -->
  </head>
  <body>
    <form
      action="/validateLicense/uploadImage"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="image" />
      <button>전송</button>
    </form>

    <br /><br />
    <input id="cbInput" type="text" />
    <button id="cbBtn">입력</button>

    <div id="cbOutput"></div>
  </body>
  <script src="/js/util/licenseTest.js"></script>
  <script src="/js/util/chatBot.js"></script>
</html>
