<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    출발일<input type="date" id="start-day" />
    <br />

    도착일<input type="date" id="end-day" />
    <br />
    출발지<input type="text" id="start-loc" /> <br />
    도착지<input type="text" id="end-loc" />

    <button id="buttonChat2">대화하기</button>
    <div id="respChat"></div>

    <script type="text/javascript" src="/js/lib/chatGPT.js"></script>
    <script type="text/javascript" src="/js/jongjo.js"></script>
  </body>
</html>
