<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <!-- thymeleaf-layout-dialect 패키지 추가 필요 -->
  <!-- implementation('nz.net.ultraq.thymeleaf:thymeleaf-layout-dialect') -->
  <th:block layout:fragment="main">
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <!-- 나중에 이름 바꿔주기!!!!!!!!!!!!!!!!!-->
    <link href="/css/test.css" rel="stylesheet" />
    <!-- <div>
      <a-scene embedded style="width: 500px; height: 500px; display: block">
        <a-sky src="images/images.jpg" rotation="0 0 0"></a-sky>
      </a-scene>
    </div> -->
    <div class="itemImageContainer">
      <div class="itemImageMain">
        <img
          src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
          alt=""
          id="itemImageMain"
          data-toggle="magnify"
        />
      </div>
      <div class="itemImageList">
        <img
          src="https://cdn.britannica.com/34/235834-050-C5843610/two-different-breeds-of-cats-side-by-side-outdoors-in-the-garden.jpg"
          alt=""
          class="itemImageList"
        />
        <img
          src="https://th-thumbnailer.cdn-si-edu.com/ii_ZQzqzZgBKT6z9DVNhfPhZe5g=/fit-in/1600x0/filters:focal(1061x707:1062x708)/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer_public/55/95/55958815-3a8a-4032-ac7a-ff8c8ec8898a/gettyimages-1067956982.jpg"
          alt=""
          class="itemImageList"
        />
        <img
          src="https://www.purina.co.uk/sites/default/files/2020-12/Understanding%20Your%20Cat%27s%20Body%20LanguageTEASER.jpg"
          alt=""
          class="itemImageList"
        />
        <img
          src="https://mir-s3-cdn-cf.behance.net/project_modules/1400/326d0a52829775.591de26d795e3.jpg"
          alt=""
          class="itemImageList"
        />
      </div>
    </div>
    <!-- 나중에 이름 바꿔주기!!!!!!!!!!!!!!!!!-->
    <script src="js/test.js"></script>
  </th:block>
</html>
