<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="map" style="width: 100%; height: 600px"></div>

    <input type="text" id="origin" placeholder="origin" />
    <input type="text" id="destination" placeholder="destination" />

    <button id="buttonChat">대화하기</button>
    <div id="respChat"></div>

    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=505ac5632e649605a932e66a71794740&libraries=services,clusterer,drawing"
    ></script>
    <script type="text/javascript" src="/js/test.js"></script>
  </body>
</html>
