/* 상세조회 전체 영역 */
.board-detail{
  width: 1000px;
  min-height: 700px;
  margin: 50px auto;
  border-bottom:3px solid #9E9C90;
  position:relative;
}

.board-detail-img-box{
  border-radius: 50px;
}

/* 게시글 제목 */
.board-title{
  margin : 0;
  padding: 20px 0;
  font-size: 2em;
  color:#706e63;
}

.board-title > span{
  font-size: 16px;
  color: gray;
}


/* 게시글 헤더 */
.board-header{
  padding: 20px 0;
  border-bottom : 3px solid #9E9C90;
  display: flex;
  justify-content: space-between;
}

/* 작성자 영역 */
.board-writer{
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* 프로필 */
.board-writer > img{
  width: 40px;
  height: 40px;
}

/* 닉네임 */
.board-writer > span{
  font-weight: bold;
  margin-left : 10px;
}

/* 게시글 정보 */
.board-info{
  width: 320px;
  font-size: 0.8em;
}

.board-info > p{
  margin: 0;
}

.board-info span{
  width: 120px;
  display: inline-block;
  font-weight: bold;
}

.board-detail h5{
  clear: both;
  margin: 10px 0;
}


/* 이미지를 감싸는 div */
.boardImg{
  width: 25%;
  height: 240px;
  float: left;
  text-align: center;
}

/* 이미지 */
.boardImg img{
  max-width: 90%;
  max-height: 90%;
}

/* 썸네일만 이미지 크게 */
.thumbnail{
  width: 300px;   
  height: 300px;
}

/* 다운로드 a태그 */
.boardImg a{
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 12px;
  margin-top: 5px;
}

/* 내용 */
.board-content{
  clear: both;
  padding: 30px 0;
  margin: 30px 0;
  font-size: 18px;
  white-space: pre-wrap;
  color:#363530
}

/* 버튼 영역 */
.board-btn-area{
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 0;
  display: flex;
  column-gap: 15px;
}

/* 버튼 */
.board-btn-area button{
  width: 80px;
  height: 30px;
  font-weight: bold;
  border: 0;
  background-color: #7b7768;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 5px 0px 0px #535046;
  transition: 0.2s all;
}

.board-btn-area-btn:hover{
    transform: translateY(10px);
}

.board-btn-area-btn:hover{
    box-shadow: 0px 0px 0px 0px black;;
}




/* 좋아요 */
.like-area{
  margin-left: 30px;
}

#boardLike{
  font-size: 1.5em;
  color:#5c5e4c;
  cursor: pointer;
}

.update-span{
  border-left: 3px solid#7a7c63;
  border-right:3px solid#7a7c63;
  padding-left:10px;
  padding-right:10px;
}

.border-detail-span{
  color: #5c5e4c;
  text-shadow: 0px 0px 2px  #7a7c63;
  font-size:18px
 
}

.border-writer-right{
  display: flex;
    column-gap: 30px;
    justify-content: center;
    align-items: center;
}

.border-writer-right > div{
  display:flex;
  column-gap: 10px;;
  align-items: center;
  color:#5c5e4c;
}

.border-writer-right > div > i{
  font-size:20px;
  
}

.custom-confirm {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.custom-confirm-content {
  background-color: #fefefe;
  margin: 15% auto;
  height: 200px;
  padding: 20px;
  border: 1px solid #888;
  width: 300ㅔㅌ;
  /* max-width: 300px; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s;
  text-align: center;
  width: 500px;
  border-radius: 50px;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.custom-confirm-content button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.custom-alert {
  display: none; /* 기본적으로 숨김 */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* 배경 흐림 효과 */
}

.custom-alert-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.okBtn{
  width: 50px;
    height: 50px;
    background-color: black
}

#customAlert{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);  
}

.custon-alert-content{
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInt 0.3s;
}

@keyframes fadeInt {
  from {opacity: 0;}
  to {opacity: 1;}
}
