.wrap{
    width:1000px;
    margin:200px auto;
    height:2000px;
    
}

.content-write-box{
    width:100%;
    height:100%;
    border:5px solid #9E9C90;
    margin-top:80px;
    border-radius: 10px;
}

.update-title-update-box{
    display: flex;
    column-gap: 50px;
    /* padding-left: 50px; */
    margin: 70px auto;
    /* padding-right: 50px; */
    width: 80%;
    justify-content: center;
    
}

.update-span-title{
    flex-basis: 10%;
    text-align: center;
    display: block;
    font-size: 25px;
    color:#6C6856;
    text-shadow: 0px 0px 2px #7f7d74;
}

#update-write-input{
    flex-basis: 90%;
    border-radius: 5px;
    background: transparent;
     outline:none;
     border:none;
     box-shadow: 0px 3px 5px 1px #7f7d74;
     padding-left: 20px;
     color:#7f7d74;
}


.content-update-textarea{
    resize: none;
    width: 85%;
    height: 600px;
    /* margin-top: 50px; */
    margin: 50px auto;
    display: block;
    border-radius: 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px 2px #6C6856;
    padding:50px;
    color:#6C6856;
}


.content-file-box{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    row-gap: 25px;
}

.cheomnu{
    color: #4D5144;
    font-size: 23px;
}


input[type="file"] {
    display: inline-block;
   
    color: white;
    border: none;



    
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: '파일 선택';
    display: inline-block;
    background-color: #E4E4D0;
    color: #5A5B55;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="file"]:hover::before {
    background-color: #5A5B55;;
}