<!-- 옵션 -->
<div>
    <label>대여 지역 선택
        <select name="carLocationNo">
            <option value="0">선택</option>
            <option th:each="location, state : ${carLocationNoList}" th:value="${state.count}">
                [[${location}]]
            </option>
        </select>
    </label>

    <label>대여 날짜
        <input type="date" id="rentDate" name="rentDate" th:value="${rentDate}">
    </label>
    <label>반납 날짜
        <input type="date" id="expectDate" name="expectDate" th:value="${expectDate}">
    </label>

    <button type="button" id="serachBtn">검색</button>
    <button type="button" id="resetBtn">초기화</button>
</div>

<!-- 차급 목록 -->
<div>
    <ul class="categoryListUl">
        <li name="categoryLi">
            <a th:href="@{/item/itemList(categoryCode=${categoryCode})}">전체</a>
            <li>|</li>
        </li>
        <th:block th:each="carGrade, state : ${carGradeList}" >
            <li name="categoryLi">
                <a th:href="@{/item/itemList(categoryCode=${categoryCode}, 
                    carGradeNo=${state.count})}"
                    th:text="${carGrade}"
                ></a>
            </li>
            <li th:if="${!state.last}">|</li>
        </th:block>
    </ul>
</div>

<!-- 상품 정렬 버튼 -->
<div>
    <a th:href="@{/item/itemList(categoryCode=${categoryCode}, sortNo=0, 
            carGradeNo=${carGradeNo}, rentDate=${rentDate},
            expectDate=${expectDate})}"
    >최신순</a>
    <a th:href="@{/item/itemList(categoryCode=${categoryCode}, sortNo=1,
            carGradeNo=${carGradeNo}, rentDate=${rentDate},
            expectDate=${expectDate})}"
    >높은 가격순</a>
    <a th:href="@{/item/itemList(categoryCode=${categoryCode}, sortNo=2,
            carGradeNo=${carGradeNo}, rentDate=${rentDate},
            expectDate=${expectDate})}"
    >낮은 가격순</a>
    <a th:href="@{/item/itemList(categoryCode=${categoryCode}, sortNo=3,
            carGradeNo=${carGradeNo}, rentDate=${rentDate},
            expectDate=${expectDate})}"
    >인기순</a>
</div>

<!-- 상품 목록 -->
<div>
    <ul class="itemListUl">
        <li th:each="item : *{itemList}" class="itemLi">
            <a href="#" class="fa-regular fa-heart heartBtn"></a>
            <a th:href="@{/item/itemDetail(categoryCode=${item.categoryCode}, itemNo=${item.itemNo}, cp=${pagination.currentPage})}">
                <img th:src="@{item.thumbnail}" />
                <div class="itemInfoDiv">
                    <!-- 차량명 -->
                    <div>[[*{item.carName}]]</div>

                    <!-- 차량 세부 설명 -->
                    <div class="carDetailDiv">
                        <div class="fa-solid fa-car"> [[*{item.carGradeName}]]</div>
                        <div class="fa-solid fa-user-group"> 동승 [[*{item.carPassengers}]]명</div>
                        <div class="fa-solid fa-bed"> 취침 [[*{item.carSleepCapacity}]]명</div>
                    </div>
                    
                    <div class="fa-solid fa-dog"> 반려동물 동반 가능</div>

                    <!-- 대여 비용 -->
                    <div class="price">대여 [[*{item.carRentPrice}]]원</div>
                </div>
            </a>
        </li>
    </ul>
</div>


<!-- 페이지네이션 -->
<div class="pagination-area">
    <ul th:if="${!itemList.isEmpty}" class="pagination" th:object="${pagination}">
        <!-- 첫 페이지로 이동 -->
        <li>
            <a th:href="@{/item/itemList(categoryCode=${categoryCode},cp=1, sortNo=${sortNo}, 
                        carGradeNo=${carGradeNo}, rentDate=${rentDate},
                        expectDate=${expectDate})}"
            >&lt;&lt;</a>
        </li>

        <!-- 이전 목록 마지막 번호로 이동 -->
        <li>
            <a th:href="@{/item/itemList(categoryCode=${categoryCode}, cp=*{prevPage}, sortNo=${sortNo}, 
                        carGradeNo=${carGradeNo}, rentDate=${rentDate},
                        expectDate=${expectDate})}"
            >◀</a>
        </li>

        <!-- 특정 페이지로 이동 -->
        <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
            <!-- 현재 보고 있는 페이지 -->
            <li th:if="${i} == *{currentPage}">
                <a class="current" th:text="${i}">현재페이지</a>
            </li>

            <li th:unless="${i} == *{currentPage}">
                <a th:href="@{/item/itemList(categoryCode=${categoryCode}, cp=${i}, sortNo=${sortNo}, 
                            carGradeNo=${carGradeNo}, rentDate=${rentDate},
                            expectDate=${expectDate})}" th:text="${i}"
                >이동할페이지</a>
            </li>
        </th:block>

        <!-- 다음 목록 시작 번호로 이동 -->
        <li>
            <a th:href="@{/item/itemList(categoryCode=${categoryCode}, cp=*{nextPage}, sortNo=${sortNo}, 
                        carGradeNo=${carGradeNo}, rentDate=${rentDate},
                        expectDate=${expectDate})}"
            >▶</a>
        </li>

        <!-- 끝 페이지로 이동 -->
        <li>
            <a th:href="@{/item/itemList(categoryCode=${categoryCode}, cp=*{maxPage}, sortNo=${sortNo}, 
                        carGradeNo=${carGradeNo}, rentDate=${rentDate},
                        expectDate=${expectDate})}"
            >&gt;&gt;</a>
        </li>
    </ul>
</div>