<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <!-- 페이지별 CSS /> -->
    <link rel="stylesheet" href="/css/item/itemDetail.css" />
    <link href="/css/item/itemDetail.css" rel="stylesheet" />
  </head>

  <th:block layout:fragment="main">
    <!-- 3D 뷰 가능하게 해주는 a-frame 라이브러리-->
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <main>
      <!-- 왼쪽 -->
      <section>
        <!-- 메인 사진 -->
        <div class="itemImageContainer" style="">
          <div class="itemImageMain">
            <!-- <th:block th:text="${item.thumbnail}"></th:block> -->
            <img
              th:src="${item.thumbnail}"
              alt=""
              id="itemImageMain"
              data-toggle="magnify"
            />
          </div>
          <!-- 기타 상품 이미지 -->
          <div class="itemImageList">
            <th:block th:if="${#lists.size(item.itemImageList)} > 0">
              <th:block
                th:each="i : ${#numbers.sequence(0, #lists.size(item.itemImageList) - 1)}"
              >
                <th:block th:if="${item.itemImageList[i].imgTypeNo} == 0">
                  <img
                    th:src="|${item.itemImageList[i].imgPath}${item.itemImageList[i].imgRename}|"
                    class="itemImage"
                  />
                </th:block>
                <th:block th:if="${item.itemImageList[i].imgTypeNo} == 2">
                  <img
                    th:src="|${item.itemImageList[i].imgPath}${item.itemImageList[i].imgRename}|"
                    class="itemImage"
                    id="3dItemImage" 
                  />
                  <th:block th:text="|${item.itemImageList[i].imgPath}${item.itemImageList[i].imgRename}|"></th:block>
                </th:block>

              </th:block>
            </th:block>

          </div>
        </div>

      <div class="itemInfoContainer">
        <!-- tab 버튼 부분 -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="detail-tab" data-bs-toggle="tab" data-bs-target="#detail-tab-pane" type="button" role="tab" aria-controls="detail-tab-pane" aria-selected="true">상세 정보</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="commend-tab" data-bs-toggle="tab" data-bs-target="#commend-tab-pane" type="button" role="tab" aria-controls="commend-tab-pane" aria-selected="false">추천 상품</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="review-tab" data-bs-toggle="tab" data-bs-target="#review-tab-pane" type="button" role="tab" aria-controls="review-tab-pane" aria-selected="false">리뷰</button>
          </li>
        </ul>

        <!-- content 부분 -->
        <div class="tab-content" id="myTabContent">

          <!-- 상세 정보 -->
          <div class="tab-pane fade show active" id="detail-tab-pane" role="tabpanel" aria-labelledby="detail-tab" tabindex="0">상세 정보 이미지 누군가가 추가 예정 아마 주하오빠?충섭오빠? 화이팅~</div>
         
          <!-- 추천상품 -->
          <div class="tab-pane fade" id="commend-tab-pane" role="tabpanel" aria-labelledby="commend-tab" tabindex="0">


            <!-- 추천상품 리스트가 존재할 때 -->
            <div th:unless="${recommendList.isEmpty}" class="tabContentContainer">  
              <h3>이 상품을 추천해요</h3>
              <div class="recommendContainer">

                <!-- 차일 때 -->
                  <div th:each="item : ${recommendList}" th:object="${item}" th:if="${categoryCode==1}" >
                    
                    <!-- 상품 하나 -->
                    <a class="eachRecommend" th:href="@{/item/itemDetail?categoryCode={categoryCode}&itemNo={itemNo}&cp=1(categoryCode=${categoryCode},itemNo=${item.itemNo})}">
                      <img src="" class="recommendImg">
                      <div th:text="*{carName}"></div>
                      <div th:text="|*{carRentPrice} 원|"></div>
                    </a>
                  </div>
             
                  <!-- 캠프 아이템일 때  -->
                  <div th:each="item : ${recommendList}" th:object="${item}" th:if="${categoryCode==2}">
                    바이


                  </div>
             
                  <!-- 패키지 아이템일 때  -->
                  <div th:each="item : ${recommendList}" th:object="${item}" th:if="${categoryCode==2}">
                    바이


                  </div>
             


              </div>

               <!-- 패키지 상품 추천 -->
              <h3>추천하는 패키지 상품</h3>
              <div class="recommendContainer">
                <div th:each="item : ${recommendPackage}" th:object="${item}" >
                    
                  <!-- 상품 하나 -->
                  <a class="eachRecommend" th:href="@{/item/itemDetail?categoryCode={categoryCode}&itemNo={itemNo}&cp=1(categoryCode=${categoryCode},itemNo=${item.itemNo})}">
                    <img src="" class="recommendImg">
                    <div th:text="*{packageName}"></div>
                    <div th:text="|*{packagePrice} 원|"></div>
                  </a>
                </div>
              </div>

            </div>

           



            <!-- 추천 상품 리스트가 존재하지 않을 때 -->
            <div th:if="${recommendList.isEmpty}" class="noReview">관련 상품이 존재하지 않습니다.</div>

          </div>
          
          <!-- 후기 -->
          <div class="tab-pane fade" id="review-tab-pane" role="tabpanel" aria-labelledby="review-tab" tabindex="0">

            <div class="tabContentContainer">

              <!-- 후기가 존재할 때 -->
              <th:block th:unless="${review.isEmpty}">

                <div th:each="review : ${review}" th:object="${review}" class="EachContainer">
                  <!-- 프로필 이미지 -->
                  <img src="/images/user.png" class="reviewProfileImg">
                  
                  <!-- 내용들 -->
                  <div class="reviewDetailContainer">

                    <!-- 닉네임, 날짜 -->
                    <div class="nickNameDateContainer">
                      <!-- 닉네임 -->
                      <div th:text="*{memberNickName}"></div>
                      <!-- 날짜 -->
                      <div>
                        <div th:text="*{reviewDate}"></div>
                      </div>
                    </div>

                    <!-- review  content -->
                    <div class="reviewContent" th:text ="*{reviewContent}"></div>

                  </div>
                  


                </div>
                
              </th:block>

              <!-- 후기가 존재하지 않을 때 -->
              <div th:if="${review.isEmpty}" class="noReview">작성된 후기가 없습니다.</div>
            </div>



          </div>
        
        
        </div>
    </div>
    </section>


    <!-- 오른쪽 -->
    <section>
      <div class="itemTitle">
        <!-- 차일 때 -->
        <div  th:if="${categoryCode==1}">
            <!-- 이름 -->
          <div th:text="${item.carName}" class="title"> </div>
              <!-- 차량 세부 설명 -->
              <div class="carDetailDiv">
                <div class="fa-solid fa-car"> [[*{item.carGradeName}]]</div>
                <div class="fa-solid fa-user-group"> 동승 [[*{item.carPassengers}]]명</div>
                <div class="fa-solid fa-bed"> 취침 [[*{item.carSleepCapacity}]]명</div>
                <div class="fa-solid fa-dog"> 반려동물 동반 가능</div>
            </div>
            <!--가격  -->
          <div th:text="|${item.carRentPrice} 원|" class="itemPrice"> </div>
          
          

      </div>

        <div th:if="${categoryCode==2}" th:text="${item.equipmentName}"class="title"></div>
        <div th:if="${categoryCode==3}" th:text="${item.packageName}" class="title"></div>


      </div>


    </section>
  </main>

    <script src="/js/item/itemDetail.js"></script>
  </th:block>


  <script src="/js/item/itemDetail.js"></script>
</html>
