<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.wheelingcamp.board.mapper.EditBoardMapper">

<!--  게시글 부분 수정 -->
<update id="boardUpdate">

   	UPDATE "BOARD" SET
   	BOARD_TITLE = #{boardTitle},
   	BOARD_CONTENT = #{boardContent}
   	WHERE BOARD_NO = ${boardNo}
   	AND MEMBER_NO = ${memberNo}

</update>

<!-- 게시글 이미지 삭제 -->

<delete id="deleteImage">
 
   DELETE FROM "BOARD_IMG"
   WHERE IMG_ORDER IN (${deleteOrder}) 
   AND
   BOARD_NO = #{boardNo}

</delete>

<!--  게시글 이미지 수정 -->

<update id="updateImage">

UPDATE "BOARD_IMG" SET
IMG_ORIGINAL_NAME = #{imgOriginalName},
IMG_RENAME = #{imgRename}
WHERE BOARD_NO = ${boardNo}
AND
IMG_ORDER = ${imgOrder} 

</update>

 <insert id="insertImage">
    	INSERT /*+ PARALLEL (4)*/ INTO "BOARD_IMG"
    	VALUES(SEQ_IMG_NO.NEXTVAL, 
    	#{imgPath}, 
    	#{imgOriginalName},
    	#{imgRename}, 
    	#{imgOrder}, 
    	#{boardNo})
    </insert>
    
      <update id="deleteBoard">
    	UPDATE "BOARD" SET
    	BOARD_DEL_FL = 'Y'
    	WHERE BOARD_NO = #{boardNo} AND MEMBER_NO = #{memberNo}
    </update>
	
</mapper>