<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.wheelingcamp.interest.model.mapper.InterestMapper">

	<!-- 차량 목록 -->
	<select id="rentalCarList">
		SELECT CART_NO, ITEM_NO, (CAR_NAME) ITEM_NAME, (CAR_RENT_PRICE) PRICE, CATEGORY_CODE ,
				IMG_PATH || IMG_RENAME THUMBNAIL
		FROM "INTEREST"
		JOIN "ITEM" USING (ITEM_NO)
		JOIN "CAR" USING (ITEM_NO)
		LEFT JOIN (SELECT * FROM ITEM_IMG WHERE IMG_ORDER = 0) USING(ITEM_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND CATEGORY_CODE = 1
		ORDER BY 2
	</select>
	
	<!-- 상품 목록 -->
	<select id="rentalList1">
		SELECT CART_NO, ITEM_NO, (EQUIPMENT_NAME) ITEM_NAME, (EQUIPMENT_RENT_PRICE)PRICE, CATEGORY_CODE, (EQUIPMENT_SELL_PRICE) SELL_PRICE,
				IMG_PATH || IMG_RENAME THUMBNAIL
		FROM "INTEREST"
		JOIN "ITEM" USING (ITEM_NO)
		JOIN "CAMP_EQUIPMENT" USING (ITEM_NO)
		LEFT JOIN (SELECT * FROM ITEM_IMG WHERE IMG_ORDER = 0) USING(ITEM_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND CATEGORY_CODE = 2
		ORDER BY 2
	</select>
	
		<!-- 패키지 목록 -->
	<select id="rentalList2">
		SELECT CART_NO, (PACKAGE_NO) ITEM_NO, (PACKAGE_NAME) ITEM_NAME, (PACKAGE_PRICE)PRICE, CATEGORY_CODE,
				IMG_PATH || IMG_RENAME THUMBNAIL
		FROM "INTEREST"
		JOIN "PACKAGE" ON (PACKAGE_NO = ITEM_NO)
		JOIN "ITEM" USING(ITEM_NO)
		LEFT JOIN (SELECT * FROM ITEM_IMG WHERE IMG_ORDER = 0) USING(ITEM_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND CATEGORY_CODE = 3
		ORDER BY 2
	</select>

	
	<!-- 관심상품 삭제 -->
	<delete id="itemDelete">
		DELETE FROM "INTEREST"
		WHERE ITEM_NO = #{itemNo}
		AND MEMBER_NO = #{memberNo}
	</delete>
	
		<!-- 선택된 상품 전체 삭제 -->
	<delete id="checkListDelete">
		DELETE FROM "INTEREST"
		WHERE MEMBER_NO = #{memberNo}
		AND ITEM_NO IN
			<foreach collection="checkes" item="i" open="(" close=")" separator=", ">
				#{i}
			</foreach>
	</delete>
	
	
	<!-- 관심상품 확인 여부 -->
	<select id="itemInterest">
		SELECT COUNT(*) FROM "INTEREST"
		WHERE MEMBER_NO = #{memberNo}
		AND ITEM_NO = #{itemNo}
	</select>
	
	
	<!-- 관심상품 추가 -->
	<insert id="interestAdd">
		INSERT INTO "INTEREST"
		VALUES(SEQ_INTEREST_NO.NEXTVAL, #{memberNo}, #{itemNo})
	</insert>
	
	<!-- 관심상품 삭제 -->
	<delete id="interestDelete">
		DELETE FROM "INTEREST"
		WHERE MEMBER_NO = #{memberNo}
		AND ITEM_NO = #{itemNo}
	</delete>
	
	
		<!-- 차량 목록 -->
	<select id="rentalCarNoList">
		SELECT ITEM_NO
		FROM "INTEREST"
		JOIN "ITEM" USING (ITEM_NO)
		JOIN "CAR" USING (ITEM_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND CATEGORY_CODE = 1
	</select>
	
	<!-- 상품 목록 -->
	<select id="rentalNoList1">
		SELECT ITEM_NO
		FROM "INTEREST"
		JOIN "ITEM" USING (ITEM_NO)
		JOIN "CAMP_EQUIPMENT" USING (ITEM_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND CATEGORY_CODE = 2
	</select>
	
		<!-- 패키지 목록 -->
	<select id="rentalNoList2">
		SELECT (PACKAGE_NO) ITEM_NO
		FROM "INTEREST"
		JOIN "PACKAGE" ON (PACKAGE_NO = ITEM_NO)
		JOIN "ITEM" USING(ITEM_NO)
		WHERE MEMBER_NO = #{memberNo}
		AND CATEGORY_CODE = 3
	</select>

</mapper>
