<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.wheelingcamp.item.model.mapper.ItemMapper">

	<!--차 한 대 가져오기-->
	<select id="selectOneCar" resultType="Car">
		SELECT CAR_STOCK_NO, ITEM_NO, CAR_ID, CAR_NAME, CAR_FUEL, CAR_GRADE_NAME, CAR_RENT_CHECK, CAR_LOCATION_NAME, 
		CAR_PASSENGERS, CAR_SLEEP_CAPACITY, CAR_RENT_PRICE,
		ITEM_VIEW_COUNT, CAR_RENT_CHECK, THUMBNAIL, ITEM_IMAGELIST
		FROM CAR NATURAL JOIN ITEM 
		NATURAL JOIN CAR_STOCK NATURAL JOIN CAR_GRADE NATURAL JOIN CAR_LOCATION
		WHERE ITEM_NO = #{itemNo}
	</select>

	<!-- 모든 자동차 목록 탐색 -->
	<select id="selectCarAll">
		SELECT ITEM_NO, CATEGORY_CODE, CATEGORY_NAME, ITEM_VIEW_COUNT , CAR_NAME , 
				CAR_SLEEP_CAPACITY , CAR_PASSENGERS , CAR_RENT_PRICE , CAR_FUEL , 
				IMG_PATH || IMG_RENAME "THUMBNAIL"
		FROM CAR C
		JOIN ITEM USING (ITEM_NO)
		JOIN ITEM_CATEGORY USING (CATEGORY_CODE)
		LEFT JOIN ITEM_IMG USING(ITEM_NO)
		<![CDATA[
			WHERE ITEM_NO IN (SELECT DISTINCT CS.ITEM_NO
								FROM CAR_STOCK CS
								LEFT JOIN RENT_DETAIL USING (CAR_STOCK_NO)
								LEFT JOIN RENT USING (RENT_NO)
								WHERE (RENT_DATE > '2024-06-14'
								OR EXPECT_DATE < '2024-06-01'
								OR RENT_DETAIL_NO IS NULL)
		]]>
								<if test="carLocationNo != 0">
									AND CAR_LOCATION_NO = #{carLocationNo}
								</if>
								)
		AND IMG_ORDER = 0			
		ORDER BY 
			<!-- 최신순 -->
			<if test="sortNo == 0">
				ITEM_NO DESC
			</if>
			
			<!-- 높은 가격순 -->
			<if test="sortNo == 1">
				CAR_RENT_PRICE DESC, ITEM_NO DESC
			</if>
			
			<!-- 낮은 가격순 -->
			<if test="sortNo == 1">
				CAR_RENT_PRICE, ITEM_NO DESC
			</if>
			
			<!-- 조회수 순 -->
			<if test="sortNo == 2">
				ITEM_VIEW_COUNT DESC, ITEM_NO DESC
			</if>
	</select>

	<!-- 모든 캠핑용품 목록 탐색 -->
	<select id="selectCampEquipmentAll">
		
	</select>
	
	<!-- 모든 패키지 목록 탐색 -->
	<select id="selectPackageAll">
		
	</select>

</mapper>
