.myPage-title {
  margin: 10px 50px;
  color: #373e37;
}
.myPage-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.myPage-menu {
  display: flex;
  font-size: 120%;
  margin-bottom: 1%;
  width: 70%;
}
.btn-profile {
  background-color: #7f806e;
  border-radius: 5px;
  color: aliceblue;
  width: 20%;
  margin: 2%;
  padding: 1%;
}
#inputImg {
  color: #fffdf6;
  margin-left: 70px;
}
.changeProfileImgBtn {
  background-color: #8e8f7f;
  width: 80%;
  height: 80px;
  font-size: 20px;
  border-radius: 5px;
  padding: 10px;
}
.btn-secession {
  background-color: #7f806e;
  border-radius: 5px;
  color: aliceblue;
  width: 20%;
  margin: 2%;
  padding: 1%;
}
.myPage-menu a {
  background-color: #7f806e;
  border-radius: 5px;
  color: aliceblue;
  width: 20%;
  margin: 2%;
  text-align: center;
  padding: 1%;
}

.myPage-div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid #7f806e;
  margin-right: 20px;
}

.myPage-info {
  background-color: #bdc8bb;
  border-radius: 4%;
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: flex-start;
  padding: 1%;
  margin: 3%;
  width: 33.3%;
}

.myPage-info h3 {
  color: #f3f6ec;
  font-size: 100%;
  margin: 5%;
}

.myPage-info span {
  color: #5f6458;
  margin: 5%;
  font-size: 80%;
}

.profileImgForm {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 33.3%;
}
#deleteImg {
  float: right;
  cursor: pointer;
}

.profileImg {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 100%;
}
.profileImg-btn-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 3%;
}
.myPage-profileImg-area {
  display: flex;
  justify-content: center;
}

.profileImg-btn-area input {
  visibility: hidden;
}
.profileImg-btn-area label {
  background-color: #bab8b0;
  width: 33%;
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 1em;
}

.changeProfileBtn {
  background-color: #5a665a;
  width: 200px;
  border-radius: 5px;
  height: 50px;
}
.myPage-banner {
  width: 50%;
  height: 200px;
}
.driver-license-area {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.license-regident {
  width: 350px;
  border: solid 1px #727868;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  justify-items: start;
  justify-content: center;
}

.driver-license-title{
  padding: 10px;
  font-size: 20px;
  color: #373e37;
}
.license-input {
  width: 250px;
  border-radius: 10px;
  border: none;
  background-color: #727868;
  color: white;
  height: 20px;
  padding: 20px;
}
.license-regident span {
  text-align: center;
  padding: 10px;
  color: #373e37;
}

.badgeImg {
  width: 150px;
}
.selectedBadgeImg {
  width: 300px;
}

.into-badgeDetail {
  text-align: end;
  margin-right: 15px;
}
.reward-banner {
  display: flex;
  flex-direction: column;
  background-color: #3e6690;
}
.myPage-reward img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

.badgeDetail-a {
  background-color: #3e6690;
    padding: 15px;
    font-size: 100%;
    text-align: end;
    margin: 10px;
    color: #f8f9fa;
    cursor: pointer;
}

.my-page-box-shadow {
  box-shadow: 0px 5px 0px 0px #54554a;
  transition: all 0.2s;
}

.my-page-box-shadow:hover {
  transform: translateY(10px);
  box-shadow: 0px 0px 0px 0px black;
}

.my-page-box-shadow2 {
  box-shadow: 0px 5px 0px 0px #394139;
  transition: all 0.2s;
}
.my-page-box-shadow2:hover {
  transform: translateY(10px);
  box-shadow: 0px 0px 0px 0px black;
}

.my-page-box-shadow3 {
  box-shadow: 0px 5px 0px 0px #3e6690;
  transition: all 0.2s;
}

.my-page-box-shadow3:hover {
  transform: translateY(10px);
  box-shadow: 0px 0px 0px 0px black;
}

.myPage-badge-area{
  display: flex;
    background-color: #3e6690;
}

#registrationBtn{
  color: white;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  background-color: #313330;
}
#licensefile{
  width: 100px;
  color: #fffdf6;
  margin-left: 70px;
  visibility: hidden;
}
.license-btn{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.license-btn label {
  color: white;
  background-color:#c0c48e;;
  width: 80px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  padding: 3px;
} 

.card{
  width: 40rem;
}
.card-title{
  color: #414b55;
  margin-bottom: 30px;
  text-align: center;
}
.card-body{
  display: grid;
  justify-items: stretch;
}
.card-badgeBtn{
  background-color:  #3e6690 ;
  --bs-btn-hover-bg: #7f97b2;
}