.myPage-title{
    margin: 10px 50px;
	color: #373e37;
}
.myPage-area{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.myPage-menu{ 
    display: flex;
    font-size: 130%;
    margin-bottom: 1%;
}
.btn-profile{
    background-color: #7f806e;
    border-radius: 5px;
    color: aliceblue;  
    width: 150px; 
    height: 100%;
    margin: 10px;
}
#inputImg{
    color: #fffdf6;
    margin-left: 70px;
}
.changeProfileImgBtn{
    background-color: #8e8f7f;
    width: 200px;
    height: 80px;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}
.btn-secession{
	background-color: #7f806e;
    border-radius: 5px;
    color: aliceblue;  
    width: 150px; 
    margin: 10px;
}
.myPage-menu a{
    background-color: #7f806e;
    border-radius: 5px;
    color: aliceblue;  
    width: 150px; 
    margin: 10px;
    text-align: center;

}

.myPage-div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid #7f806e;
    margin-right: 20px;
}

.myPage-info{
    
    background-color: #bdc8bb;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    margin: 50px;
    width: 300px;
    height: 450px;
}

.myPage-info h3{
	color: #f3f6ec;
	font-size: 100%;
    margin: 5%;
}

.myPage-info span{
	color: #5f6458;
	margin: 5%;
	font-size: 80%;
}


.profileImgForm{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}
#deleteImage {
  	float: right;
}

.profileImg{
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 100%;
}
.profileImg-btn-area{
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
}
.myPage-profileImg-area{
    display: flex;
    justify-content: center;
}


.profileImg-btn-area input{
     padding-left: 50%;
     margin-bottom: 10px;
}

#profileImgBtn{
    background-color:#5a665a;
    width: 200px;
    border-radius: 5px;
    height: 50px;
}
.myPage-banner{
    width:50%;
    height: 200px;
}
.myPage-reward{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;  
}

.reward-banner{
    padding-top: 30px;
    padding-bottom: 30px;
}
.myPage-reward img {
    width: 300px;
    height: 450px;
    border-radius: 5px;
}


/* background-color: #796f5e; */
