/* 상품 대여 / 구매 버튼 */
.rentExpectBtnDiv {
  display: flex;
  justify-content: center;
}

.rentExpectBtnDiv > button {
  flex-basis: 35%;
  font-size: 30px;
  margin: 3% 2%;
  padding: 2%;
  border-radius: 10px;
}

.rentExpectBtnDiv > button:first-child {
  background-color: #e4e4d0;
  color: #5a5b55;
}

.rentExpectBtnDiv > button:last-child {
  background-color: #76785e;
  color: #f2f1eb;
}

/* ------------------------------------------------------------------------------------------ */

/* 검색 div */
.serachDiv {
  margin-top: 1%;
  margin-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  color: #5a5b55 !important;
  position: relative;
  height: 100px;
  font-size: 18px;
}

/* 대여 지역 선택 div, 세부 검색 div */
.serachDiv > div:first-child,
.serachDiv > div:nth-child(3) {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
}

.serachDiv > div:last-child > div:last-child {
  width: 100%;
  display: flex;
  background-color: #dedbd8;
  border-radius: 5px;
  overflow: hidden;
}

.serachDiv > div > * {
  flex-basis: 50%;
  text-align: center;
}

.serachDiv > div > *:first-child {
  line-height: 50px;
}

/* 대여 날짜 */
.dateInputDiv {
  flex-basis: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 날짜 선택 div */
.dateInputDiv > div:last-child {
  display: flex;
  width: 100%;
}

/* input, select 박스 */
.serachDiv select,
.serachDiv input {
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: #dedbd8;
  color: #5a5b55;
}

/* ~ */
.dateInputDiv > div:last-child > *:nth-child(2) {
  align-items: center;
  justify-content: center;
  line-height: 50px;
  margin: 0 1%;
}

.serachDiv button {
  color: #5a5b55;
  background-color: #dedbd8;
  padding: 0 1%;
}

/* ------------------------------------------------------------------------------------------ */
/* 상품 카테고리 리스트 ul */
.categoryListUl {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #5a5b55 !important;
  font-size: 30px;
}

.categoryListUl > li {
  margin: 0 1%;
}

.categoryListUl > li > a:hover {
  color: black;
}

.categorySelected {
  color: black;
  font-size: 32px;
}

/* ------------------------------------------------------------------------------------------ */
/* 상품 정렬 ul */
.sortNoListUl {
  padding-right: 5%;
  width: 100%;
  display: flex;
  justify-content: right;
  color: #5a5b55 !important;
  font-size: 15px;
}

.sortNoListUl > li {
  margin-left: 1%;
}

.sortNoSelected {
  color: black;
  font-size: 16px;
}

/* ------------------------------------------------------------------------------------------ */

/* 상품 리스트 ul */
.itemListUl {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* 상품 1개 li */
.itemLi {
  margin: 1% 1%;
  width: 22%;
  position: relative;
}
/* 상품 hover 시 확장 */
.itemLi:hover {
  transform: scale(1.03);
}

.heartBtn {
  font-size: 25px;
  position: absolute;
  top: 2%;
  right: 3%;
  color: rgb(248, 101, 101);
}

/* 상품을 감싸는 하이퍼 링크 태그 */
.itemLi > a {
  display: flex;
  flex-direction: column;
}

/* 상품 이미지 */
img {
  width: 100%;
  flex-basis: 60%;
  aspect-ratio: 4 / 3;
}

/* 상품 설명용 div */
.itemInfoDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.itemInfoDiv * {
  font-size: 12px;
  color: #5a5b55 !important;
}

/* 상품명 */
.itemInfoDiv > *:first-child {
  font-size: 30px;
}

/* 상품 설명들 div */
.itemInfoDiv > div {
  margin-left: 2%;
  line-height: 200%;
}

.carDetailDiv > div {
  margin-right: 3%;
}

.price {
  font-size: 20px;
}

/* ------------------------------------------------------------------------------------------ */
/* 페이지 네이션 스타일 */
/* 페이지네이션 ul */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 50px;
}

.pagination li {
  width: 20px;
  margin: 0 5px;
  text-align: center;
  color: #9a947d;
  font-size: 20px;
}

/* 페이지들 설정 */
.pagination a {
  display: block;
  width: 100%;
  height: 100%;
}

/* 현재 페이지 */
.current {
  font-weight: bold;

  border-radius: 50%;
  color: #5a5b55 !important;
  letter-spacing: 0 !important;
}
