<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <link rel="stylesheet" href="/css/badge/badgeDetail.css" />
  </head>
  <th:block layout:fragment="main">
    <div class="badgeDetail-img-area">
        <img src="/images/badge/badge_Img.png">
        <a href="#">Wheeling Badge 자세히 알아보기</a>
    </div>
    <div class="badgeDetail-rank-area">
        <div class="badge-rank-area">
            <div>
                <img src="/images/badge/badge_sample.png"
                class="badgeImg"
                id="badgeImg"/>
            </div>
            <div >
                <span th:text ="${session.loginMember.memberNo}">뱃지이름</span>
                <br>
                <span th:text ="${session.loginMember.memberName}"></span>
            </div>
            <div>
                <a href="#">배지도감</a>
            </div>
        </div>
    </div>
    <div class="badge-list-area">
        <h2>Wheeling Badge</h2>
        <div class="badge-list-div">
            <ul class="badge-list-ul">
                <th:block th:each= "badge : ${badgeList}">
                  <li>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" th:data-bs-target="|#modalToggle${badge.badgeNo}|" >
                      <img th:src="${badge.badgeImg}" th:href="|#modalToggle${badge.badgeNo}|" class="badgeListImg"/>
                      <span th:text="${badge.badgeName}"></span>
                    </button> 
                  </li>
                </th:block>
            </ul>
            
        </div>
    </div>


    <!-- img 누르면 나오는 모달창 -->
    <th:block th:each= "badge : ${badgeList}">
      <div class="modal fade" th:id="|modalToggle${badge.badgeNo}|" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content" >
            <div class="modal-header" id="modalHeader">
              <h5 class="modal-title" th:text="${badge.badgeName}"></h5>
            </div>
            <div class="modal-body" >
              <div class="modal-badge-img">
                <img th:src="${badge.badgeImg}" class="badge-detail-img"/>
                <span th:text="${badge.badgeContents}"></span>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">확인</button>
            </div>
          </div>
        </div>
      </div>
    </th:block>



    <script src="/js/badge/badgeDetail.js"></script>
  </th:block>
</html>
