<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <link rel="stylesheet" href="/css/badge/badgeDetail.css" />
  </head>
  <th:block layout:fragment="main">
    <div class="badgeDetail-img-area">
        <img src="/images/badge/badge_Img.png">
        <a href="#">Wheeling Badge 자세히 알아보기</a>
    </div>
    <div class="badgeDetail-rank-area">
        <div class="badge-rank-area">
            <div>
                <img src="/images/badge/badge_sample.png"
                class="badgeImg"
                id="badgeImg"/>
            </div>
            <div >
                <span>배지이름 띄울예정</span>
                <br>
                <span>회원이름은 로그인한 멤버의 이름으로 띄울예정</span>
            </div>
            <div>
                <a href="#">배지도감</a>
            </div>
        </div>
    </div>
    <div class="badge-detail-area">
        <h2>Wheeling Badge List</h2>
        <div>
            <ul>
                <!-- <th:block th:if=> -->
                    <li>
                        <img src="/images/badge/badge_sample.png"/>
                        <span>뱃지제목</span>
                    </li>
                <!-- </th:block> -->
            </ul>
            
        </div>
    </div>
  </th:block>
</html>
