<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <!-- 페이지별 CSS /> -->
    <link rel="stylesheet" href="/css/board/boardList.css">
  </head>
  <th:block layout:fragment="main">
       
      <!--게시판이름 & 설명-->
    <h1 class=" title">후기 게시판</h1>
   
     <!--게시판이름 & 설명-->





     <!--목록-->
  <table id="mainTable">

      <thead>
        <tr>
            <th>번호</th>
            
            <th>제목</th>
            <th>작성일</th>
            <th>작성자</th>
            <th></th>
        </tr>
      </thead>

      <tbody>

        <th:block th:if="${#lists.isEmpty(boardList)}">
          <tr>
              <th colspan="5">게시글이 존재하지 않습니다.</th>
          </tr>
        </th:block>

        <th:block th:unless="${#lists.dsisEmpty(dasdadboardList)}">
            <tr th:each="board : ${boardList}" th:object="${board}" th:data-board-no="${board.boardNo}" th:data-pagination-cp="${pagination.currentPage}" class="board1">
                  <!-- 번호 -->
                  <td th:text="*{rowNum}">게시글번호</td>
                  <!-- 번호 -->

                  <!-- 이미지 1번째 ? -->

                  <!-- 이미지 1번째 ?-->
                  
                  <!-- 제목 -->
                  <td>
                      <span th:text="*{boardTitle}" class="board_content">게시글 제목</span>
                  </td>
                  <!-- 제목 -->

                  <!-- 작성 날짜-->
                  <td th:text="*{boardWriteDate}" class="board_writeDate">작성일</td>
                    <!-- 작성 날짜-->

                  <!-- 작성자 이름-->
                  <td th:text="*{memberNickname}" class="board_writer">작성자 이름</td>
                    <!-- 작성자 이름-->
                    

                      <!-- 조회수 -->
                  <td>
                      <section class="td-section">
                          <div><i class="far fa-solid fa-comment-dots"></i></div>
                          <div><i class="far fa-solid fa-eye"></i></div>
                          <div><i class="far fa-solid fa-thumbs-up"></i></div>
                          <div th:text="*{commentCount}"></div>
                          <div th:text="*{readCount}"></div>
                          <div th:text="*{likeCount}"></div>
                      </section>
                  </td>
                      <!-- 조회수 -->
            </tr>
        </th:block>

      </tbody>



  </table>

      
  <!-- 내가 작성한 글 보기 버튼 -->
 <div class="my-post-box">
  
 </div>


      <!-- 글쓰기 버튼 -->
  <!-- th:if=${session.loginMember}" -->
  <div class="write-btn">
    
    <button type="button" onclick="requestPayment()" style="background-color: black;color:white">결제 테스트</button>

    <a th:if="${session.loginMember}" th:href="@{/board/myPosts}" class="my-posts-btn">내가 쓴글</a>
    <a th:unless="${session.loginMember}" onclick="showMyCustomAlert65()" class="my-posts-btn">내가 쓴글</a>


    <a th:if="${session.loginMember}" th:href="@{/board/myComments}" class="my-Comments-btn">내 댓글</a>
    <a th:unless="${session.loginMember}" onclick="showMyCustomAlert75()" class="my-Comments-btn">내 댓글</a>

    <!-- 로그인 했을때 -->
    <a th:if="${session.loginMember}" th:href="@{/board/write(cp=${pagination?.currentPage})}" class="insertBtn" >글쓰기</a>

    <!-- 로그인 안 했을 때 -->
    <a th:unless="${session.loginMember}" onclick="showMyCustomAlert55(); return false;" class="insertBtn">글쓰기</a>
  </div>
  <!-- 글쓰기 버튼 -->




  <form th:action="@{/board/boardList(cp=${pagination.currentPage})   }" class="board-form">
<!-- board/boardList?cp=4 -->
      <select name="key" id="searchKey">
            <option value="t">제목</option>
            <option value="c">내용</option>
            <option value="tc">제목+내용</option>
            <option value="w">작성자</option>
      </select>

      <input type="text" name="query" id="searchQuery" placeholder="검색어를 입력해주세요">
      <button id="board-search-btn">검색</button>

  </form>

      <!-- ============================================================================================================== -->

         <!-- 게시글이 있을 때만 페이지네이션이 보이게 할 예정 -->
         <div class="pagination-area">
          <ul class="pagination" th:object="${pagination}">
              <!-- 첫 페이지로 이동 -->
              <!-- <li><a th:href="@{/board/boardList(cp=1)}">&lt;&lt;</a></li> -->
      
              <!-- 이전 목록 마지막 번호로 이동 -->
             
              <th:block th:if="${pagination.hasPrevious()}">
                <li><a th:href="@{/board/boardList(cp=*{prevPage})}">◀</a></li>
            </th:block>
              <!-- 특정 페이지로 이동 -->
              <th:block th:if="*{startPage lt endPage}" th:each="i : *{#numbers.sequence(startPage, endPage)}">
                  <!-- 현재 보고 있는 페이지 -->
                  <li th:if="${i} == *{currentPage}">
                      <a class="current" th:text="${i}">현재페이지</a>
                  </li>

                  <li th:unless="${i} == *{currentPage}">
                      <a th:href="@{/board/boardList(cp=${i})}" th:text="${i}">이동할페이지</a>
                  </li>
              </th:block>
      
              <!-- 다음 목록 시작 번호로 이동 -->
              <li><a th:if="*{nextPage lt maxPage}" th:href="@{/board/boardList(cp=*{nextPage})}">▶</a></li>
      
              <!-- 끝 페이지로 이동 -->
              <!-- <li><a th:href="@{/board/boardList(cp=*{maxPage})}">&gt;&gt;</a></li> -->
          </ul>
      </div>
 
      <script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".board1").forEach(function(element) {
    element.addEventListener("click", function() {
      // 세션 스토리지에 게시글 번호 저장
      sessionStorage.setItem('board1', 'true');
      sessionStorage.removeItem('board2');
      sessionStorage.removeItem('board3');

    });
  });
});
      </script>
   

 


  </th:block>


 
  <!-- <button style="background-color:black;color:white" onClick="requestPay()">결제 테스트</button> -->
      
</html>