<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <link rel="stylesheet" href="/css/board/boardWrite.css" />
  </head>
  <body>
    <th:block layout:fragment="main">
      <div class="board-born">
        <h2 class="board-span">후기 작성</h2>

        <!-- 게시글 작성 내용 -->
        <form
          action="/board/write"
          class="board-form"
          method="post"
          enctype="multipart/form-data"
          id="write-form"
        >
          <input
            type="hidden"
            th:value="${session.loginMember.memberNo}"
            name="memberNo"
          />

          <div class="board-info">
            <!-- 제목 -->
            <div class="board-title">
              <span class="board-title-span">제목</span>
              <input
                class="board-title-input"
                type="text"
                placeholder="제목을 입력해주세요."
                id="boardTitle"
                name="boardTitle"
              />
            </div>

            <!-- 내용 -->
            <div class="board-content">
              <div class="board-content-div">
                <span class="board-content-div-span">내용</span>
                <div class="board-content-div-none"></div>
              </div>
              <textarea
                class="board-content-textarea"
                name="boardContent"
                id="boardContent"
                style="resize: none"
                placeholder="내용을 입력해주세요."
              ></textarea>
            </div>

            <!-- 썸네일 -->
            <!-- <div class="board-title-img">
              <span class="board-title-img-span">썸네일</span>
              <div class="filebox">
                <input
                  class="upload-name"
                  value="첨부파일"
                  placeholder="첨부파일"
                  disabled
                />
                <label
                  >파일찾기
                  <input type="file" class="file" name="imgFiles" />
                </label>
              </div>
            </div> -->

            <!-- 첨부파일 1 -->
            <div class="board-imgs">
              <span class="board-imgs-span">첨부파일 1</span>
              <div class="filebox">
                <input
                  class="upload-name"
                  value="첨부파일"
                  placeholder="첨부파일"
                  disabled
                />
                <label
                  >파일찾기
                  <input type="file" class="file" name="imgFiles" />
                </label>
              </div>
            </div>

            <!-- 첨부파일 2 -->
            <div class="board-imgs">
              <span class="board-imgs-span">첨부파일 2</span>
              <div class="filebox">
                <input
                  class="upload-name"
                  value="첨부파일"
                  placeholder="첨부파일"
                  disabled
                />
                <label
                  >파일찾기
                  <input type="file" class="file" name="imgFiles" />
                </label>
              </div>
            </div>

            <!-- 첨부파일 3 -->
            <div class="board-imgs">
              <span class="board-imgs-span">첨부파일 3</span>
              <div class="filebox">
                <input
                  class="upload-name"
                  value="첨부파일"
                  placeholder="첨부파일"
                  disabled
                />
                <label
                  >파일찾기
                  <input type="file" class="file" name="imgFiles" />
                </label>
              </div>
            </div>
          </div>

          <!-- 취소, 등록 버튼 -->
          <div class="board-btns">
            <a
             
              
              class="cancel"
              id="cancel-btn"
              >취소</a
            >
            <button class="append" id="append-btn">등록</button>
          </div>
        </form>
      </div>

      <script src="/js/board/boardWrite.js"></script>

      <script th:inline="javascript">
        const cp = /*[[${cp}]]*/ "cp";
      </script>
    </th:block>
  </body>
</html>
