<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{common/main}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장바구니</title>
    <link rel="stylesheet" href="/css/myPage/cart.css" />
  </head>
  <th:block layout:fragment="main">
    <div class="cart-name">
      <i class="fa-solid fa-angle-left"></i>
      <h1 class="cart-name-h1">장바구니</h1>
    </div>
    <!-- 장바구니 화면 전체 div -->
    <div>
      <!-- 대여상품 div -->
      <div class="rental-div">
        <!-- 전체 체크 -->
        <div class="rental-div-checkbox-div">
          <input
            type="checkbox"
            class="rental-div-checkbox rental-all-check"
            checked
          />
        </div>
        <!-- 대여상품 list -->
        <div class="rental-div-list">
          <!-- 대여상품 구분하는 긴 줄 -->
          <div class="rental-item-div-line">
            <span>대여 상품</span>
          </div>
          <!-- 대여상품 -->
          <div class="cartList rentalCartList">
            <!-- 화면 로드 시 장바구니 js 에서 목록을 불러와 html을 생성 -->
          </div>
          <!-- 대여상품 끝나는 div -->
          <div class="rental-item-div-end"></div>
          <!-- 총 결제 금액 -->
          <div class="rental-money">
            <div class="rental-money-div">
              <span>총 대여 결제 금액</span>
              <span class="rental-price">13,000</span>
              <span>원</span>
            </div>
          </div>
        </div>
      </div>

      <!--------------------------------------- 구매상품 div ------------------------------------->
      <div class="buy-div">
        <!-- 전체 체크 -->
        <div class="rental-div-checkbox-div">
          <input
            type="checkbox"
            class="rental-div-checkbox shopping-all-check"
            checked
          />
        </div>
        <!-- 구매상품 list -->
        <div class="rental-div-list">
          <!-- 구매상품 구분하는 긴 줄 -->
          <div class="buy-div-line">
            <span>구매 상품</span>
          </div>
          <!------------------------------------ 구매상품 목록 ----------------------------------------->
          <div class="cartList shoppingCartList">
            <!-- 화면 로드 시 장바구니 js 에서 목록을 불러와 html을 생성 -->
          </div>
          <!-- 대여상품 끝나는 div -->
          <div class="buy-div-end"></div>
          <!-- 총 결제 금액 -->
          <div class="rental-money">
            <div class="rental-money-div">
              <span>총 구매 결제 금액</span>
              <span class="shopping-price">13,000</span>
              <span>원</span>
            </div>
          </div>
        </div>
      </div>
      <!-- 아래 결제하기 div -->
      <div class="calculate-div">
        <div class="calculate-div-bar">
          <!-- 결제 금액 나열 -->
          <div class="calculate-div-line">
            <!-- 상품 가격 -->
            <div class="calculate-div-span">
              <span>총 대여 상품 가격</span>
              <span>총 구매 상품 가격</span>
              <span>배송비</span>
            </div>
            <!-- 금액 -->
            <div class="calculate-div-price">
              <span class="all-rental-price">10,000</span>
              <span class="all-shopping-price">10,000</span>
              <span>3,000</span>
            </div>
            <div class="won-div">
              <span>원</span>
              <span>원</span>
              <span>원</span>
            </div>
          </div>

          <!-- 가림막 -->
          <div class="bar"></div>
          <!-- 총 결제 금액 -->
          <div class="payment">
            <span class="payment-span">총 결제 금액</span>
            <span class="payment-price">13,000</span>
            <span class="won">원</span>
          </div>
          <button class="calculate-div-btn">결제하기</button>
        </div>
      </div>
    </div>

    <script th:inline="javascript">
      const memberNo = /*[[${session.loginMember?.memberNo}]]*/ "회원 번호";
    </script>

    <script src="/js/myPage/cart.js"></script>
  </th:block>
</html>
